In [1]:
3 + 6

9

len() function.

In [2]:
len("Hello All") # only works on iterable data.

9

In [3]:
len(678)

TypeError: object of type 'int' has no len()

In [4]:
len(False)

TypeError: object of type 'bool' has no len()

In [5]:
len("False")

5

In [6]:
len("4343")

4

In [ ]:
len("False").lower()

#### count()

In [7]:
name = "Techpro Education"

In [8]:
name.count("e")

1

In [9]:
name.count("E")

1

In [10]:
name.count("e","E")

TypeError: slice indices must be integers or None or have an __index__ method

In [12]:
name

'Techpro Education'

In [11]:
name.count("Te")

1

In [ ]:
name.count("T""e") 
# if multiple strings are written back to back, without separator like a comma:
# python will consider them as one string, and concatenate them.
# In the given example, python is searching for Te

In [14]:
name.count("T","e")

TypeError: slice indices must be integers or None or have an __index__ method

In [15]:
"Hi, everyone, hope you have been enjoying the classes.".count("o")

4

In [16]:
"Hi, everyone, hope you have been enjoying the classes.".count("o").replace("o","e")

AttributeError: 'int' object has no attribute 'replace'

In [22]:
"Hi, everyone, hope you have been enjoying classes.".replace("e","o")

'Hi, ovoryono, hopo you havo boon onjoying classos.'

In [23]:
"Hi, everyone, hope you have been enjoying classes.".replace("e","o").count("o")

13

In [17]:
name

'Techpro Education'

In [19]:
name.upper()

'TECHPRO EDUCATION'

In [18]:
name.upper().count("E")

2

In [20]:
name.upper().count("e")

0

In [25]:
name.lower()

'techpro education'

In [27]:
bool("e")

True

In [26]:
name.lower().count("e" or "a")
# name.lower().count("e")

2

In [29]:
name.lower().count("e" and "a")
# name.lower().count("a")

1

In [30]:
name.lower().count("e" and "a") * 4

4

In [31]:
len("hello")

5

In [32]:
len("hello") + 4

9

#### split()

In [33]:
string1 = "Data science is the best course of 21st century."
string1

'Data science is the best course of 21st century.'

In [34]:
string1.split()

['Data', 'science', 'is', 'the', 'best', 'course', 'of', '21st', 'century.']

In [35]:
string1.split("s")

['Data ', 'cience i', ' the be', 't cour', 'e of 21', 't century.']

In [37]:
string1

'Data science is the best course of 21st century.'

In [36]:
string1.split("o")

['Data science is the best c', 'urse ', 'f 21st century.']

In [38]:
type(string1.split("o"))

list

In [41]:
string1.split()

['Data', 'science', 'is', 'the', 'best', 'course', 'of', '21st', 'century.']

In [40]:
string1.split().count("the") 
# some operations or methods, like count(), or functions line len() work not only
# on strings, but also on lists, because they are both iterables.

1

In [46]:
string1

'Data science is the best course of 21st century.'

In [48]:
string1.split()

['Data', 'science', 'is', 'the', 'best', 'course', 'of', '21st', 'century.']

In [47]:
string1.split(maxsplit=2)

['Data', 'science', 'is the best course of 21st century.']

In [49]:
string1.split(maxsplit=1)

['Data', 'science is the best course of 21st century.']

In [50]:
string1.split("e")

['Data sci', 'nc', ' is th', ' b', 'st cours', ' of 21st c', 'ntury.']

In [51]:
string1.split("e",maxsplit=3)

['Data sci', 'nc', ' is th', ' best course of 21st century.']

#### strip()

In [52]:
"   Techpro    ".strip()

'Techpro'

In [55]:
"b   Techpro    ".strip()

'b   Techpro'

In [53]:
"   Te   chpro    ".strip()

'Te   chpro'

In [54]:
"  ???   Techpro?????".strip("?")

'  ???   Techpro'

In [ ]:
"???Tech??Pro???".strip("?")

In [56]:
"???Tech??Pro???".strip()

'???Tech??Pro???'

In [57]:
"the bestststststs".strip("ts") 
# or logic working in the text given as unnecessary

'he be'

In [58]:
"the beststststst".strip("ts")

'he be'

In [59]:
"the beststststtttsssst".strip("ts")

'he be'

In [60]:
"the beststststtttsssst".strip("t")

'he beststststtttssss'

In [61]:
"tttthe beststststtttt".rstrip("t")

'tttthe bestststs'

In [62]:
"     the bestststst      ".rstrip()

'     the bestststst'

In [63]:
"     the bestststst      ".lstrip()

'the bestststst      '

In [64]:
"tttthe beststststttt".lstrip("t")

'he beststststttt'

In [65]:
"tttthe beststststttt".rstrip("t")

'tttthe bestststs'

### if, elif, else(conditional statements)

Decision-making is as important in any programming language as it is in life. Decision-making in a programming language is automated using conditional statements, in which Python evaluates the code to see if it meets the specified conditions.

The conditions are evaluated and processed as true or false. If this is found to be true, the program is run as needed. If the condition is found to be false, the statement following the If condition is executed.

#### if

The If statement is the most fundamental decision-making statement, in which the code is executed based on whether it meets the specified condition. It has a code body that only executes if the condition in the if statement is true. The statement can be a single line or a block of code.

The if statement in Python has the subsequent syntax:

* if condition(expression):
    *  Statement
#If the condition is true, the statement will be executed.

In [66]:
if 5 < 7:
    print("Hello World")

Hello World

In [67]:
if 5 < 4:
    print("Hello World")

In [69]:
if True:
    print("Hi all")

Hi all

In [68]:
if False:
    print("Hi all")

In [70]:
if 7 > 6:
    print("seven is bigger than six")

seven is bigger than six

In [71]:
if "Data Science":
    print("Data science is the future.")

Data science is the future.

In [72]:
if "Data Science"
    print("Data science is the future.")

SyntaxError: expected ':' (3706401632.py, line 1)

In [73]:
if "Data Science":
print("Data science is the future.")

IndentationError: expected an indented block after 'if' statement on line 1 (2493118464.py, line 2)

In [74]:
if "Data Science":
 print("Data science is the future.")
# jupyter notebook will accept one space as indentaion, but not all notebooks and IDEs

Data science is the future.

In [75]:
if "Data Science":
    print("Data science is the future.")

Data science is the future.

In [76]:
if 8 == 8:
    print("64")

64

In [77]:
if "Hi":
    print(8 * 7)

56

In [78]:
if "":
    print(8 * 7)

In [79]:
if "":
    print(8 * 7)

print("This part will run.")

This part will run.

In [83]:
if "False":
    print("Hi everyone")
    print("Merhaba")

print("مرحبا")

Hi everyone
Merhaba
مرحبا

In [84]:
if 4:
    print(4 ** 2)

print("Hi")

16
Hi

In [85]:
if 0:
    print(4 ** 2)

print("Hi")

Hi

In [86]:
if 0:
    print(4 ** 2)
    print("Hi")

In [87]:
if 10 > 3:
    print("the result is ")
    print("10 - 3")
    print("10 * 3")
    age = 10 * 3 - 2
    print(age)

the result is
10 - 3
10 * 3
28

In [88]:
if 10 < 3:
    print("the result is ")
    print("10 - 3")
    print("10 * 3")
    age1 = 10 * 3 - 2

print(age1)

NameError: name 'age1' is not defined

In [89]:
if 10 < 3:
    print("the result is ")
    print("10 - 3")
    print("10 * 3")
    age = 10 * 2 - 2

print(age)

28

In [90]:
age = 54
if 10 > 3:
    age = 10 * 3 - 2
    print(age)

28

In [91]:
age = 54
if 10 > 3:
    age = 10 * 3 - 2
print(age)

28

In [92]:
age = 54
if 10 < 3:
    age = 10 * 3 - 2
print(age)

54

#### if, else

This statement is used when both the true and false parts of a given condition are specified to be executed. When the condition is true, the statement inside the if block is executed; if the condition is false, the statement outside the if block is executed.

The if…Else statement in Python has the following syntax:

 * if condition :
 
              - #Will executes this block if the condition is true
 * else :
 
              - #Will executes this block if the condition is false

In [93]:
if 5 > 4:
    print("five is bigger than four")
else:
    print("Five is not bigger than four")

five is bigger than four

In [94]:
if 5 < 4:
    print("five is bigger than four")
else:
    print("Five is not bigger than four")

Five is not bigger than four

In [95]:
if 5 > 4:
    print("five is bigger than four")
else:
    print("Five is not bigger than four")

print("This code will run no matter what.")

five is bigger than four
This code will run no matter what.

In [96]:
if 5 < 4:
    print("five is bigger than four")
else:
    print("Five is not bigger than four")

print("This code will run no matter what.")

Five is not bigger than four
This code will run no matter what.

In [100]:
x = 8
if x < 5:
    print("Hii all")
else:
    9 ** 2

# if an arithmetic operation is mentioned inside a conditional statement, it 
# will not be printed unless print function is used.

In [101]:
x = 8
if x < 5:
    print("Hii all")
else:
    print(9 ** 2)

81

In [102]:
x = 8
if x > 7:
    x = 5
    print(x)
else:
    x = x
    print(x)

5

In [103]:
x = 8
if x < 7:
    x = 5
    print(x)
else:
    x = x
    print(x)

8

In [104]:
x = 8
if x > 5:
    print(x == 5)
else:
    print("hii")

False

In [106]:
x = 8
if x > 5:
    print(x == 8)
else:
    print("hii")

True