In [2]:
list1 = ["ahmad","fawad","mark","garfield,Peter"]
len(list1)

4

In [3]:
list2 = [54, 78, 4.8, True False "String"]
len(list2)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2303270072.py, line 1)

In [4]:
list2 = [54, 78, 4.8, True False, "String"]
len(list2)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1986508822.py, line 1)

In [5]:
list2 = [54 78, 4.8, True, False, "String"]
len(list2)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (576342848.py, line 1)

In [6]:
list2 = [54, 78, 4.8, True, False, "String" "concatenation"]
len(list2)

6

In [7]:
list3 = list("hello","All")
print(list3)
len(list3)

TypeError: list expected at most 1 argument, got 2

In [8]:
list3 = list("hello,All")
print(list3)
len(list3)

['h', 'e', 'l', 'l', 'o', ',', 'A', 'l', 'l']

9

In [10]:
list3 = list("hello""All")
print(list3)
len(list3)

['h', 'e', 'l', 'l', 'o', 'A', 'l', 'l']

8

In [11]:
list4 = ["Hello","All"]
print(list4)
len(list4)

['Hello', 'All']

2

In [12]:
list4 = ["Hello""All"]
print(list4)
len(list4)

['HelloAll']

1

In [13]:
list5 = [list("Technology")]
print(list5)
len(list5)

[['T', 'e', 'c', 'h', 'n', 'o', 'l', 'o', 'g', 'y']]

1

In [15]:
list5 = [list("Technology")]
print(list5)
len(list("Technology"))

[['T', 'e', 'c', 'h', 'n', 'o', 'l', 'o', 'g', 'y']]

10

In [14]:
list6 = ["Ahmad", "AhMad", "AHmad"]
len(list6)

3

In [16]:
list6 = ["Ahmad", "Ahmad", "Ahmad"]
len(list6)

3

In [17]:
list6 = [123, 123, 123]
len(list6)

3

In [18]:
list7 = [12, 4.32, True, [12, 34, 6.7, True, "False"],["hi",67]]
len(list7)

5

In [ ]:
"techpro"[0]

In [19]:
list7[0]

12

In [20]:
list7[4]

['hi', 67]

In [21]:
list7

[12, 4.32, True, [12, 34, 6.7, True, 'False'], ['hi', 67]]

In [23]:
list7[1:4]

[4.32, True, [12, 34, 6.7, True, 'False']]

In [24]:
list7[1::2]

[4.32, [12, 34, 6.7, True, 'False']]

In [25]:
list7[4]

['hi', 67]

In [26]:
list7[4][0]

'hi'

In [27]:
list7[4][0].upper()

'HI'

In [28]:
list8 = [1, 2, 3, 4, "Elnur", "LIST ToPICS", ["Hello", [342,True]], "4.22"]
len(list8)

8

In [29]:
list8[0] ** 2

1

In [30]:
list8[3] ** 3

64

In [31]:
list8[4].upper()

'ELNUR'

In [32]:
list8[4].upper().replace("R","r")

'ELNUr'

In [34]:
list8

[1, 2, 3, 4, 'Elnur', 'LIST ToPICS', ['Hello', [342, True]], '4.22']

In [37]:
list8[-1]

'4.22'

In [35]:
list8[6]

['Hello', [342, True]]

In [36]:
len(list8[6])

2

In [39]:
str1 = "Data Sxience"
str1

'Data Sxience'

In [41]:
str1[6] = str1[6].upper()

TypeError: 'str' object does not support item assignment

In [42]:
list8

[1, 2, 3, 4, 'Elnur', 'LIST ToPICS', ['Hello', [342, True]], '4.22']

In [43]:
list8[6] = "Easy"

In [44]:
list8

[1, 2, 3, 4, 'Elnur', 'LIST ToPICS', 'Easy', '4.22']

In [45]:
list8[3] = 56 / 8

In [47]:
list8 # mutable

[1, 2, 3, 7.0, 'Elnur', 'LIST ToPICS', 'Easy', '4.22']

In [48]:
list9 = [1, 2, 3]
list10 = [4, 5]

list9 + list10

[1, 2, 3, 4, 5]

In [49]:
list10 * 3

[4, 5, 4, 5, 4, 5]

In [50]:
# concatenation and multiplication works same for both strings and lists.

### Basic Operations on Lists()

In [51]:
list11 = list9 + list10
list11

[1, 2, 3, 4, 5]

#### append()

In [52]:
list11

[1, 2, 3, 4, 5]

In [53]:
list11.append(6)
list11

[1, 2, 3, 4, 5, 6]

In [59]:
list11.append(7)

In [60]:
list11

[1, 2, 3, 4, 5, 6, 7, 7, 7, 7]

In [63]:
list11.append("hi")

In [64]:
list11

[1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 'hi', 'hi']

In [65]:
list11.append(8,9)

TypeError: list.append() takes exactly one argument (2 given)

In [66]:
list11.append([8,9])

In [67]:
list11

[1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 'hi', 'hi', [8, 9]]

In [68]:
# priority of execution

In [69]:
list11

[1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 'hi', 'hi', [8, 9]]

In [70]:
list11.append(10)

In [72]:
list11.append(True)

In [71]:
list11.append(6.32)

In [73]:
list11

[1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 'hi', 'hi', [8, 9], 10, 6.32, True]

#### insert()

In [74]:
list11.insert(0,"Tech")

In [75]:
list11

['Tech', 1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 'hi', 'hi', [8, 9], 10, 6.32, True]

In [76]:
list11.insert(3, "Hello")

In [78]:
print(list11)

['Tech', 1, 2, 'Hello', 3, 4, 5, 6, 7, 7, 7, 7, 'hi', 'hi', [8, 9], 10, 6.32, True]

In [79]:
list11.insert(-1,True) 
# append is preferable to add element at the end of a list

In [80]:
print(list11)

['Tech', 1, 2, 'Hello', 3, 4, 5, 6, 7, 7, 7, 7, 'hi', 'hi', [8, 9], 10, 6.32, True, True]

In [81]:
len(list11)

19

In [82]:
list11.insert(20, "Hello")

In [84]:
print(list11)

['Tech', 1, 2, 'Hello', 3, 4, 5, 6, 7, 7, 7, 7, 'hi', 'hi', [8, 9], 10, 6.32, True, True, 'Hello']

#### remove()

In [86]:
print(list11)

['Tech', 1, 2, 'Hello', 3, 4, 5, 6, 7, 7, 7, 7, 'hi', 'hi', [8, 9], 10, 6.32, True, True, 'Hello']

In [90]:
list11.remove(7)

In [91]:
print(list11)

['Tech', 1, 2, 'Hello', 3, 4, 5, 6, 7, 'hi', 'hi', [8, 9], 10, 6.32, True, True, 'Hello']

In [97]:
list11.remove(True) # I ran this code four times,
# on first time, it removed one, on the next two times it removed two True values
# and on fourth time, it couldn't find any True value to remove, so returned error.

ValueError: list.remove(x): x not in list

In [98]:
print(list11)

['Tech', 2, 'Hello', 3, 4, 5, 6, 7, 'hi', 'hi', [8, 9], 10, 6.32, 'Hello']

In [99]:
list11[2] = "Merhaba"

In [100]:
list11

['Tech', 2, 'Merhaba', 3, 4, 5, 6, 7, 'hi', 'hi', [8, 9], 10, 6.32, 'Hello']

In [109]:
lisst = [1, True, 0, False]
lisst

[1, True, 0, False]

In [110]:
lisst.remove(True)

In [5]:
lisst

NameError: name 'lisst' is not defined

#### pop()

In [46]:
list11=[1]

In [47]:
list11.pop()

1

In [40]:
list11.pop()

IndexError: pop from empty list

In [12]:
list11

NameError: name 'list11' is not defined

In [2]:
list11.pop(0)

NameError: name 'list11' is not defined

In [106]:
list11

['Merhaba', 3, 4, 5, 6, 7, 'hi', 'hi', [8, 9], 10, 6.32]

In [13]:
list11.pop(6)

NameError: name 'list11' is not defined

In [14]:
list11 =[['Merhaba', 3, 4, 5, 6, 7, 'hi', [8, 9], 10, 6.32]]

In [15]:
lisst

NameError: name 'lisst' is not defined

In [113]:
lisst.pop(2)

False

In [114]:
lisst

[True, 0]

#### count()

In [115]:
numbers = [1, 1, 3, 4, 5, 7, 6, 1, 2]
numbers

[1, 1, 3, 4, 5, 7, 6, 1, 2]

In [116]:
numbers.count(1)

3

In [117]:
numbers.count(3)

1

In [118]:
aa = [1, 0, True, 2, 1.0, False, 0.0, 3, False]
aa

[1, 0, True, 2, 1.0, False, 0.0, 3, False]

In [119]:
aa.count(2)

1

In [120]:
aa.count(3)

1

In [121]:
aa.count(1)

3

In [122]:
aa.count(True)

3

In [123]:
aa.count(1.0)

3

In [124]:
aa

[1, 0, True, 2, 1.0, False, 0.0, 3, False]

In [125]:
aa.count(0)

4

In [126]:
aa.count(False)

4

In [127]:
aa.count(0.0)

4

In [128]:
0 == False

True

In [129]:
0.0 == False

True

In [130]:
1.0 == True

True

In [131]:
type(0) == type(False)

False

#### clear()

In [132]:
list11

['Merhaba', 3, 4, 5, 6, 7, 'hi', [8, 9], 10, 6.32]

In [133]:
list11.clear()

In [134]:
list11

[]

In [135]:
aa.clear()

In [136]:
aa

[]

#### del    is a function in python, not a list operation

In [137]:
lisst

[True, 0]

In [138]:
del lisst

In [139]:
lisst

NameError: name 'lisst' is not defined

#### extend() - it brings the element of an iterable data.

In [16]:
numss = [1, 2, 3, 4, 5]
numss

[1, 2, 3, 4, 5]

In [17]:
numss.extend([6, 7, 8, 9]) # numss + [6, 7, 8, 9]

In [142]:
numss

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
numss.extend("ahmad")

In [145]:
numss

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'h', 'm', 'a', 'd']

In [146]:
listst1 = [1, 2, 3]
listst2 = [4, 5, 6]

In [147]:
listst1.append(listst2)
listst1

[1, 2, 3, [4, 5, 6]]

In [148]:
listst2.extend([1, 2, 3])

In [149]:
listst2

[4, 5, 6, 1, 2, 3]

#### sort()

In [23]:
numbersss = [1, 2, 4, 21, 3, 1, 1.0]
numbersss

[1, 2, 4, 21, 3, 1, 1.0]

In [24]:
numbersss.sort()

In [25]:
numbersss

[1, 1, 1.0, 2, 3, 4, 21]

In [26]:
numbersss.append(True)

In [27]:
numbersss

[1, 1, 1.0, 2, 3, 4, 21, True]

In [28]:
numbersss.sort()

In [29]:
numbersss

[1, 1, 1.0, True, 2, 3, 4, 21]

In [30]:
numbersss.sort(reverse = True)

In [31]:
numbersss

[21, 4, 3, 2, 1, 1, 1.0, True]

In [34]:
names = ["Ahmad", "Bilal", "Muneer", "Sabir", "Esad", "Fahim"]
names.sort(reverse= False)

In [35]:
names

['Ahmad', 'Bilal', 'Esad', 'Fahim', 'Muneer', 'Sabir']

In [21]:
names.append("Şeyma")
names.sort()

NameError: name 'names' is not defined

In [162]:
names

['Ahmad', 'Bilal', 'Esad', 'Fahim', 'Muneer', 'Sabir', 'Şeyma']

In [163]:
names.sort(reverse = True)
names

['Şeyma', 'Sabir', 'Muneer', 'Fahim', 'Esad', 'Bilal', 'Ahmad']

In [164]:
names.extend(["ahmad", "jawid"])

In [165]:
names

['Şeyma',
 'Sabir',
 'Muneer',
 'Fahim',
 'Esad',
 'Bilal',
 'Ahmad',
 'ahmad',
 'jawid']

In [166]:
names.sort()

In [167]:
print(names)

['Ahmad', 'Bilal', 'Esad', 'Fahim', 'Muneer', 'Sabir', 'ahmad', 'jawid', 'Şeyma']

In [168]:
names.append(67)

In [169]:
names

['Ahmad',
 'Bilal',
 'Esad',
 'Fahim',
 'Muneer',
 'Sabir',
 'ahmad',
 'jawid',
 'Şeyma',
 67]

In [170]:
names.sort()
names

TypeError: '<' not supported between instances of 'int' and 'str'