In [1]:
3 + 6

9

#### enumerate()

In [2]:
list1 = ["data", "science", "is", "the", "best"]
list1

['data', 'science', 'is', 'the', 'best']

In [3]:
enumerate(list1)

In [4]:
list(enumerate(list1))

[(0, 'data'), (1, 'science'), (2, 'is'), (3, 'the'), (4, 'best')]

In [5]:
tuple(enumerate(list1))

((0, 'data'), (1, 'science'), (2, 'is'), (3, 'the'), (4, 'best'))

In [6]:
set(enumerate(list1))

{(0, 'data'), (1, 'science'), (2, 'is'), (3, 'the'), (4, 'best')}

In [7]:
dict(enumerate(list1))

{0: 'data', 1: 'science', 2: 'is', 3: 'the', 4: 'best'}

In [9]:
list(enumerate(list1, 1))

[(1, 'data'), (2, 'science'), (3, 'is'), (4, 'the'), (5, 'best')]

In [10]:
list(enumerate(list1, 100))

[(100, 'data'), (101, 'science'), (102, 'is'), (103, 'the'), (104, 'best')]

In [12]:
list1

['data', 'science', 'is', 'the', 'best']

In [11]:
list(enumerate(list1, len(list1)))

[(5, 'data'), (6, 'science'), (7, 'is'), (8, 'the'), (9, 'best')]

In [13]:
list(enumerate(list1, len("techpro education")))

[(17, 'data'), (18, 'science'), (19, 'is'), (20, 'the'), (21, 'best')]

In [14]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [15]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [18]:
print(num)

[48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [20]:
print(num)

[48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [21]:
min(num)

5

In [22]:
max(num)

55

In [23]:
allnumset = set(range(min(num), max(num)))

In [25]:
print(allnumset)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54}

In [26]:
allnumset - set(num)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [32]:
set(set(range(min(num), max(num))) - set(num))

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [28]:
missed = []
num.sort()
for x in range(min(num), max(num)):
    if x not in num:
        missed.append(x)
print(missed)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [29]:
num1 = [48, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [30]:
missed = []
num1.sort()
for x in num1:
    z = x + 1
    if z not in num1 and z <= max(num):
        missed.append(z)
print(missed)

[8, 10, 14, 19, 23, 25, 31, 38, 40, 43, 49]

In [31]:
missed = []
num.sort()
for x in range(min(num), max(num)):
    if x in num:
        continue
    else:
        missed.append(x)
print(missed)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

## list comprehension

In [33]:
mylist = [1, 2, 3, 4, 5]
squarelist = []
for i in mylist:
    squarelist.append(i ** 2)

print(squarelist)

[1, 4, 9, 16, 25]

In [34]:
# [result for loop]
[i ** 2 for i in mylist]

[1, 4, 9, 16, 25]

In [46]:
mylist.extend([3, 4, 5, 4, 3])

In [47]:
mylist

[1, 2, 3, 4, 5, 3, 4, 5, 4, 3]

In [48]:
[i ** 2 for i in mylist]

[1, 4, 9, 16, 25, 9, 16, 25, 16, 9]

In [49]:
{i ** 2 for i in mylist}

{1, 4, 9, 16, 25}

In [50]:
(i ** 2 for i in mylist)

In [36]:
carlist = ["RR!", "BMW?", "MB*"]
carlist

['RR!', 'BMW?', 'MB*']

In [37]:
for i in carlist:
    print(i.replace("!", "").replace("?", "").replace("*", ""))

RR
BMW
MB

In [41]:
carlist = ["**?!!RR!*?", "BMW?", "MB*"]
carlist

['**?!!RR!*?', 'BMW?', 'MB*']

In [42]:
for i in carlist:
    print(i.strip("!?*"))

RR
BMW
MB

In [38]:
newcarlist = []
for i in carlist:
    newcarlist.append(i.replace("!", "").replace("?", "").replace("*", ""))

newcarlist

['RR', 'BMW', 'MB']

In [40]:
newcarlist = []
for i in carlist:
    newcarlist.append(i.strip("!?*"))

newcarlist

['RR', 'BMW', 'MB']

if + for in list comprehension

[result + for + if]

In [51]:
num = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

In [53]:
even = []
for i in num:
    if i % 2 == 0:
        even.append(i ** 2)
    
print(even)

[4, 1296, 3844, 2704, 900, 3136, 2304]

In [54]:
[i ** 2 for i in num if i % 2 == 0]

[4, 1296, 3844, 2704, 900, 3136, 2304]

In [55]:
[i * 2 for i in num if i % 2 == 1]

[2, 30, 10, 178, 90, 142, 90, 190, 122]

In [56]:
[i * 2 for i in num if i % 2 == 1].sort()

In [57]:
sorted([i * 2 for i in num if i % 2 == 1])

[2, 10, 30, 90, 90, 122, 142, 178, 190]

In [58]:
a = [i * 2 for i in num if i % 2 == 1]
a

[2, 30, 10, 178, 90, 142, 90, 190, 122]

In [59]:
a.sort()

In [60]:
a

[2, 10, 30, 90, 90, 122, 142, 178, 190]

## for + conditionals

[result of if + if + else + result of else + for]

In [61]:
num

[1, 15, 2, 36, 5, 89, 45, 62, 52, 71, 30, 56, 45, 95, 61, 48]

In [65]:
resultant = []
for i in num:
    if i % 2 == 0:
        resultant.append(i ** 2)
    else:
        resultant.append(i * 3)
    
resultant

[3, 45, 4, 1296, 15, 267, 135, 3844, 2704, 213, 900, 3136, 135, 285, 183, 2304]

[result of if + if + else + result of else + for]

In [63]:
[i ** 2 if i % 2 == 0 else i * 3 for i in num]

[3, 45, 4, 1296, 15, 267, 135, 3844, 2704, 213, 900, 3136, 135, 285, 183, 2304]

In [67]:
list(range(1,11)) # perform modulo operation between these elements and 3, and
# if result is 0 then bring element
# if result is 1 bring square of it
# if result is 2 bring cube of it

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
resultant = []
for i in range(1, 11):
    if i % 3 == 0:
        resultant.append(i)
    elif i % 3 == 1:
        resultant.append(i ** 2)
    else:
        resultant.append(i ** 3)
resultant

[1, 8, 3, 16, 125, 6, 49, 512, 9, 100]

In [4]:
[i if i % 3 == 0 else i ** 2 if i % 3 == 1 else i ** 3 for i in range(1, 11)]

[1, 8, 3, 16, 125, 6, 49, 512, 9, 100]

In [71]:
numbers = [3, -2, 0, 5, -7]

["positive"if i > 0 else "negative" if i < 0 else "zero" for i in numbers]

['positive', 'negative', 'zero', 'positive', 'negative']

In [3]:
numbers = [3, -2, 0, 5, -7]

["positive" for i in numbers if i > 0 else "zero" ]

SyntaxError: invalid syntax (4107457839.py, line 3)

In [83]:
a = (1, 2)
b = (3, 4)

In [73]:
list(zip(a, b))

[(1, 3), (2, 4)]

In [84]:

[i * j for i, j in zip(a,b)]

[3, 8]

In [75]:
dict1 = {1:1, 2:4, 3:9}
dict1

{1: 1, 2: 4, 3: 9}

In [80]:
for k,v in dict1.items():
    print(v / k)

1.0
2.0
3.0

In [81]:
[v / k for k, v in dict1.items()]

[1.0, 2.0, 3.0]

In [87]:
a = print("hello world")

hello world

In [88]:
a

In [85]:
[print("hello world") for i in range(11)]

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

[None, None, None, None, None, None, None, None, None, None, None]

In [89]:
[print(i) for i in range(5)]

0
1
2
3
4

[None, None, None, None, None]