In [61]:
x = int(input("enter a number"))
if x > 1:
    for i in range(2, x):
        if x % i == 0:
            print(f"{x} is not a prime number")
        else:
            print(f"{x} is a prime number")
else:
    print("must enter a number higher than 1")

9 is a prime number
9 is not a prime number
9 is a prime number
9 is a prime number
9 is a prime number
9 is a prime number
9 is a prime number

In [58]:
x = int(input("enter a number"))
if x > 1:
    for i in range(2, x):
        if x % i == 0:
            print(f"{x} is not a prime number")
            break
        else:
            print(f"{x} is a prime number")
else:
    print("must enter a number higher than 1")

9 is a prime number
9 is not a prime number

In [60]:
x = int(input("enter a number"))
if x > 1:
    for i in range(2, x):
        if x % i == 0:
            print(f"{x} is not a prime number")
            break
    else:
        print(f"{x} is a prime number")
else:
    print("must enter a number higher than 1")

11 is a prime number

In [ ]:
def prime_finder(x):
    
    """this functions checks whether a number is prime or not."""

In [1]:
def prime_finder(x):
    if x > 1:
        for i in range(2, x):
            if x % i == 0:
                return (f"{x} is not a prime number")
                break
        else:
            return (f"{x} is a prime number")
    else:
        return ("must enter a number higher than 1")

In [2]:
prime_finder(3)

'3 is a prime number'

In [3]:
prime_finder(7)

'7 is a prime number'

In [4]:
prime_finder(9)

'9 is not a prime number'

In [5]:
prime_finder(13)

'13 is a prime number'

In [6]:
prime_finder(2)

'2 is a prime number'

find all prime numbers from 1 to 1000

In [15]:
primelist = []
for i in range(2, 1001):
    if prime_finder(i) == f"{i} is a prime number":
        primelist.append(i)
primelist

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

## Positional and keyword arguments

In [16]:
def my_name(first_n, last_n):
    return f"My name is {first_n} {last_n}"

In [17]:
my_name("fatima", "alnaamikiraz")

'My name is fatima alnaamikiraz'

In [18]:
my_name("alnaamikiraz", "fatima")

'My name is alnaamikiraz fatima'

In [19]:
my_name(last_n="alnaamikiraz", first_n = "fatima")

'My name is fatima alnaamikiraz'

In [20]:
my_name("hello","all")

'My name is hello all'

In [21]:
my_name("aslan")

TypeError: my_name() missing 1 required positional argument: 'last_n'

In [22]:
my_name("aslan",)

TypeError: my_name() missing 1 required positional argument: 'last_n'

In [23]:
my_name("aslan","")

'My name is aslan '

In [24]:
def my_name2(first_n, last_n = "demir"):
    return f"My name is {first_n} {last_n}"

In [25]:
my_name2("bilal")

'My name is bilal demir'

In [26]:
my_name2("bilal","soner")

'My name is bilal soner'

In [27]:
my_name2(last_n = "hakli","hakan")

SyntaxError: positional argument follows keyword argument (2159870217.py, line 1)

In [28]:
my_name2(last_n = "hakli",first_n="hakan")

'My name is hakan hakli'

In [29]:
my_name2("ahmad", last_n="fedayi")
# must write the positionals first.

'My name is ahmad fedayi'

In [30]:
def your_name(first_n, second_n, last_n = "toker"):
    return f"Your name is {first_n} {second_n} {last_n}"

In [31]:
your_name("ahmad", "reshad","bakhtari")

'Your name is ahmad reshad bakhtari'

In [32]:
your_name("ahmad", "reshad")

'Your name is ahmad reshad toker'

In [33]:
def your_name(first_n, second_n = "toker", last_n):
    return f"Your name is {first_n} {second_n} {last_n}"

SyntaxError: non-default argument follows default argument (486200103.py, line 1)

In [ ]:
def your_name(first_n, second_n = "toker", last_n = "keskin"):
    return f"Your name is {first_n} {second_n} {last_n}"

In [34]:
def your_name2(first_n, last_n, second_n = "toker"):
    return f"Your name is {first_n} {second_n} {last_n}"

In [35]:
your_name2("huseyin","toker","ahmad")

'Your name is huseyin ahmad toker'

In [36]:
your_name2("huseyin","toker")

'Your name is huseyin toker toker'

In [39]:
def odd_nums(a, b, c, d, e):
    oddnumbers = []
    for i in a, b, c, d, e:

        if i % 2 == 1:
            oddnumbers.append(i)
    return oddnumbers

In [43]:
def odd_nums2(a, b, c, d, e):
    return [i for i in (a,b,c,d,e)  if i % 2 == 1]

In [41]:
odd_nums(1, 2, 3, 4, 5)

[1, 3, 5]

In [44]:
odd_nums2(1, 2, 3, 4, 5)

[1, 3, 5]

In [45]:
odd_nums(1, 2, 3, 4)

TypeError: odd_nums() missing 1 required positional argument: 'e'

In [46]:
odd_nums(1, 2, 3)

TypeError: odd_nums() missing 2 required positional arguments: 'd' and 'e'

## Arbitrary number of arguments (* args, ** kwargs)

In [47]:
def odd_nums2(* number):
    oddnumbers = []
    for i in number:

        if i % 2 == 1:
            oddnumbers.append(i)
    return oddnumbers

In [48]:
odd_nums2(1, 2, 3, 4, 5, 6, 7, 8)

[1, 3, 5, 7]

In [49]:
odd_nums2(22, 34 ,534,65, 71, 83, 25, 922, 751)

[65, 71, 83, 25, 751]

In [50]:
odd_nums2()

[]

In [51]:
print()

In [52]:
def odd_even(* number):
    num_list = []
    for i in number:

        if i % 2 == 1:
            num_list.append(i**2)
        else:
            num_list.append(i*2)
    return num_list

In [53]:
odd_even(1, 2, 3, 4, 5)

[1, 4, 9, 8, 25]

In [54]:
odd_even(22, 43, 56, 7, 75, 5675)

[44, 1849, 112, 49, 5625, 32205625]

In [55]:
def odd_even2(* number):
    num_list = [i**2 if i%2==1 else i*2 for i in number]
    return num_list

In [56]:
odd_even2(1, 2, 3, 4, 5)

[1, 4, 9, 8, 25]

In [58]:
odd_even2(22, 43, 56, 7, 75, 5675)

[44, 1849, 112, 49, 5625, 32205625]

In [60]:
range(1, 11)

range(1, 11)

In [63]:
odd_even(* range(1, 11))

[1, 4, 9, 8, 25, 12, 49, 16, 81, 20]

In [59]:
odd_even(range(1, 11))

TypeError: unsupported operand type(s) for %: 'range' and 'int'

In [64]:
odd_even(* list(range(1, 11)))

[1, 4, 9, 8, 25, 12, 49, 16, 81, 20]

In [61]:
odd_even(list(range(1, 11)))

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [65]:
odd_even(* [1, 2, 3, 4, 5])

[1, 4, 9, 8, 25]

In [62]:
odd_even([1, 2, 3, 4, 5])

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [66]:
print("sadat")

sadat

In [67]:
print(* "sadat")

s a d a t

In [70]:
def revers_string(string):
    return string[::-1]

In [71]:
revers_string("ahmad")

'damha'

In [74]:
revers_string("ahmad", "nikola")

TypeError: revers_string() takes 1 positional argument but 2 were given

In [76]:
def revers_string2(* string):
    string_list = []
    for i in string:
        string_list.append(i[::-1])
    return string_list

In [77]:
revers_string2("ahmad")

['damha']

In [78]:
revers_string2("ahmad", "nikola")

['damha', 'alokin']

In [79]:
revers_string2()

[]

In [80]:
revers_string2(["ahmad", "nikola"])

[['nikola', 'ahmad']]

In [81]:
revers_string2(* ["ahmad", "nikola"])

['damha', 'alokin']

In [82]:
revers_string2({"ahmad":"nikola"})

TypeError: unhashable type: 'slice'

In [83]:
revers_string2(* {"ahmad":"nikola"})

['damha']

### kwargs

In [84]:
dict1 = {"name1":"sedat", "name2":"murad", "name3":"selin"}
dict1

{'name1': 'sedat', 'name2': 'murad', 'name3': 'selin'}

In [85]:
def kwfunction(** kwargs):

    for i, j in kwargs.items():
        print(f"key: {i}, value: {j}")

In [89]:
dict(name = "ahmad")

{'name': 'ahmad'}

In [86]:
kwfunction(name = "ahmad", surname = "fedayi")

key: name, value: ahmad
key: surname, value: fedayi

In [90]:
kwfunction(dict1)

TypeError: kwfunction() takes 0 positional arguments but 1 was given

In [92]:
kwfunction(** dict1)

key: name1, value: sedat
key: name2, value: murad
key: name3, value: selin

In [100]:
def kewords_values(** dictionary):
    listofnum = []
    listofkey = []
    for i, j in dictionary.items():
        listofnum.append(j ** 2)
        listofkey.append(i)
    return f"my keys {listofkey} and values {listofnum}"

In [101]:
kewords_values(age1 = 32, age2 = 24)

"my keys ['age1', 'age2'] and values [1024, 576]"

In [105]:
def revers_str_kw(** string):
    string_list = []
    for i, j in string.items():
        string_list.append(j[::-1])
    return string_list

In [106]:
revers_str_kw(firstname = "ahmad", lastname = "fedayi")

['damha', 'iyadef']

In [107]:
def revers_str_kw2(** string):
    value_list = []
    key_list = []
    for key, value in string.items():
        key_list.append(key[::-1])
        value_list.append(value[::-1])
    return f"my key list in revers {key_list} and value list {value_list}"

In [108]:
revers_str_kw2(firstname = "ahmad", lastname = "fedayi")

"my key list in revers ['emantsrif', 'emantsal'] and value list ['damha', 'iyadef']"

In [113]:
def name(first_name, last_name):
    print(first_name, last_name)

In [115]:
name("ahmad", "fedayi")

ahmad fedayi

In [117]:
name(last_name="trump", first_name="Donald")

Donald trump