### filter()

In [1]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [2]:
filter(None, "hello")

In [3]:
list(filter(None, "hello"))

['h', 'e', 'l', 'l', 'o']

In [4]:
list(filter(None, [1, 2, 0, "", 2.9, 0.0, True, False, ()]))

[1, 2, 2.9, True]

In [5]:
def odd_finder(x):

    if x % 2 == 1:
        return True
    else:
        return False

In [6]:
odd_finder(34)

False

In [7]:
odd_finder(341)

True

In [8]:
tuple(filter(odd_finder, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

(1, 3, 5, 7, 9)

In [9]:
list(filter(odd_finder, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

[1, 3, 5, 7, 9]

In [10]:
tuple(filter(odd_finder, (1, 2, 3, 4, 5, 6, 7, 8, 9)))

(1, 3, 5, 7, 9)

In [11]:
list(filter(odd_finder, (1, 2, 3, 4, 5, 6, 7, 8, 9)))

[1, 3, 5, 7, 9]

In [12]:
def odd_finder2(x):

    if x % 2 == 1:
        return x
    else:
        return ""

In [13]:
list(filter(odd_finder2, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

[1, 3, 5, 7, 9]

In [14]:
def even_finder(x):

    if x % 2 == 0:
        return True
    else:
        return ""

In [15]:
tuple(filter(even_finder, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

(2, 4, 6, 8)

In [16]:
list(filter(len, ("filter", "data", "techpro", "", "core python")))

['filter', 'data', 'techpro', 'core python']

In [17]:
def len_5(x):
    if len(x) == 5:
        return True
    else:
        return False

In [18]:
len_5("techpro")

False

In [19]:
len_5("data")

False

In [20]:
len_5("datas")

True

In [21]:
names = ("fatima", "tahereh", "jalil", "osman", "senol", "neslihan", "jane")

In [22]:
tuple(filter(len_5, names))

('jalil', 'osman', 'senol')

In [23]:
def prime_finder(x):
        
        for i in range(2, x):
            if x % i == 0:
                return False
                break
        else:
            return True

In [24]:
print(list(filter(prime_finder, range(2, 100))))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## lambda()

In [25]:
def sum_square(x, y):
    return x ** 2 + y ** 2

In [26]:
sum_square(3, 4)

25

In [27]:
lambda x, y: x ** 2 + y ** 2

In [28]:
(lambda x, y: x ** 2 + y ** 2)(3, 4)

25

In [29]:
(lambda x, y: x ** 2 + y ** 2)(12, 5)

169

In [30]:
(lambda x, y: x ** 2 + y ** 2)(31, 4.9)

985.01

In [31]:
(lambda x, y: x ** 2 + y ** 2)(31, 4.9, 1)

TypeError: <lambda>() takes 2 positional arguments but 3 were given

In [ ]:
(lambda x, y: x ** 2 + y ** 2)(31)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [ ]:
(lambda x, y: (x ** 2 + y ** 2)**0.5)(31, 125)

128.7866452703851

In [ ]:
(lambda x: len(x) == 5)("techpro")

False

In [ ]:
(lambda x: len(x) == 5)("nalan")

True

In [ ]:
names = ["nalan", "sedat", "rafi", "ali", "ahmad", "nikola"]

In [ ]:
list(filter(lambda x: len(x) == 5, names))

['nalan', 'sedat', 'ahmad']

In [ ]:
(lambda x: x[::-1])("nalan")

'nalan'

In [ ]:
(lambda x: x[::-1])("data science")

'ecneics atad'

In [ ]:
(lambda x: x[::-1])("al kazik cak karaya kayarak kac kizakla")

'alkazik cak karayak ayarak kac kizak la'

In [ ]:
(lambda x: x[::-1])("ey edip adanada pide ye")

'ey edip adanada pide ye'

In [ ]:
(lambda x: x[::-1] == x)("nazan")

True

In [ ]:
(lambda x: x[::-1]==x)("ey edip adanada pide ye")

True

In [ ]:
(lambda x: x[::-1]==x)("keyboard")

False

In [ ]:
names = ["ece", "nalan", "rafi", "rahim", "david"]

In [ ]:
list(filter(lambda x: x[::-1]==x, names))

['ece', 'nalan']

In [ ]:
(lambda x: x * 2 if x % 2 == 0 else x ** 2)(12)

24

In [ ]:
(lambda x: x * 2 if x % 2 == 0 else x ** 2)(3)

9

In [ ]:
(lambda x: x * 2 if x % 2 == 0)(3)
# while creating a lambda function with if conditionals, don't forget to add the else part as well

SyntaxError: expected 'else' after 'if' expression (2771907227.py, line 1)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(filter(lambda x: x * 2 if x % 2 == 0 else x ** 2, numbers))
# as the result of the function on all numbers is truthy, it printed all the numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(filter(lambda x: x % 2 == 0, numbers))

[2, 4, 6, 8]

In [ ]:
list(filter(lambda x: x % 2 == 1, numbers))

[1, 3, 5, 7, 9]

In [ ]:
(lambda x: x if x % 3 == 0 else x ** 2 if x % 3 ==1 else x * 2)(5)

10

In [ ]:
(lambda x: x if x % 3 == 0 else x ** 2 if x % 3 ==1 else x * 2)[1, 2, 3, 4]

<>:1: SyntaxWarning: 'function' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'function' object is not subscriptable; perhaps you missed a comma?
C:\Users\jawed\AppData\Local\Temp\ipykernel_18844\2072320656.py:1: SyntaxWarning: 'function' object is not subscriptable; perhaps you missed a comma?
  (lambda x: x if x % 3 == 0 else x ** 2 if x % 3 ==1 else x * 2)[1, 2, 3, 4]

TypeError: 'function' object is not subscriptable

In [ ]:
(lambda x: x > 0 and x % 2 == 0)(-9)

False

In [ ]:
(lambda x: x > 0 or x % 2 == 0)(-9)

False

In [ ]:
(lambda x: x > 0 and x % 2 == 0)(0)

False

In [ ]:
0 % 2

0

In [ ]:
(lambda x: x > 0 or x % 2 == 0)(0)

True

In [ ]:
(lambda x: x > 0 and x % 2 == 0)(-4)

False

In [ ]:
(lambda x: x > 0 or x % 2 == 0)(-4)

True

In [ ]:
(lambda x: x > 0 and x % 2 == 0)(3)

False

In [ ]:
(lambda x: x > 0 and x % 2 == 0)(32)

True

In [ ]:
pip install pandas

In [ ]:
pip install pandas
!pip install pandas
conda install pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("adult_eda.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [ ]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [ ]:
df.sex.unique()

array(['Male', 'Female'], dtype=object)

### map()

In [ ]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
def num_square(x):
    return x ** 2

In [ ]:
num_square(2)

4

In [ ]:
list_of_num = [21, 3, 42, 4, 5, 8, 71, 42, 0]

In [ ]:
map(num_square, list_of_num)

In [ ]:
list_of_num

[21, 3, 42, 4, 5, 8, 71, 42, 0]

In [ ]:
list(filter(num_square, list_of_num))

[21, 3, 42, 4, 5, 8, 71, 42]

In [ ]:
list(map(num_square, list_of_num))

[441, 9, 1764, 16, 25, 64, 5041, 1764, 0]

In [ ]:
list(map(len, ["techpro", "data science", 'ali', "murad", ""]))

[7, 12, 3, 5, 0]

In [ ]:
list(filter(len, ["techpro", "data science", 'ali', "murad", ""]))

['techpro', 'data science', 'ali', 'murad']

In [ ]:
list_of_num

[21, 3, 42, 4, 5, 8, 71, 42, 0]

In [ ]:
list(map(num_square, list_of_num))

[441, 9, 1764, 16, 25, 64, 5041, 1764, 0]

In [ ]:
def odd_even(*x):
    result = []
    for i in x:
        if i % 2 == 0:
            result.append(i)
        else:
            result.append(i**2)
    return result

In [ ]:
odd_even(1, 2, 3, 4, 5, 6, 7, 8, 9)

[1, 2, 9, 4, 25, 6, 49, 8, 81]

In [ ]:
(lambda x: x if x % 2 == 0 else x ** 2)(13)

169

In [ ]:
list(map(lambda x: x if x % 2 == 0 else x ** 2, (1, 2, 3, 4, 5, 6, 7, 8, 9)))

[1, 2, 9, 4, 25, 6, 49, 8, 81]

In [ ]:
tuple(map(lambda x: x if x % 2 == 0 else x ** 2, (1, 2, 3, 4, 5, 6, 7, 8, 9)))

(1, 2, 9, 4, 25, 6, 49, 8, 81)

In [ ]:
tuple(map(lambda x: x if x % 2 == 0 else x ** 2, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

(1, 2, 9, 4, 25, 6, 49, 8, 81)

In [ ]:
tuple(map(lambda x: x if x % 2 == 0 else x ** 2, {1, 2, 3, 4, 5, 6, 7, 8, 9}))

(1, 2, 9, 4, 25, 6, 49, 8, 81)

In [ ]:
def factoriel(x):
    fact = 1
    for i in range(1, x+1):
        fact *= i
    return fact

In [ ]:
factoriel(4)

24

In [ ]:
factoriel(6)

720

In [ ]:
factoriel(0)

1

In [ ]:
def factoriel2(x):
    if x == 0:
        return 1
    
    return x * factoriel2(x - 1)

In [ ]:
mom = input("mother name").lower()
dad = input("father name").lower()
child = input("child's name").lower()

cons_child = ""
for i in child:
    if i not in "aeiou":
        cons_child+=i

if set(cons_child).issubset(set(dad) | set(mom)) and len(set(cons_child) & set(dad))>0 and len(set(cons_child) & set(mom))>0:
    print("it is a super family")
else:
    print("change the name of your child")

change the name of your child

In [ ]:
import pandas as prime_finder