#### range()

In [ ]:
range()

In [2]:
range(10)

range(0, 10)

In [3]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(5, 15)).append(31)

In [11]:
list(range(5, 15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [17]:
liste = list(range(5, 15))

In [13]:
liste.append(64)
liste

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 64]

In [7]:
tuple(range(2, 12))

(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [14]:
tuple(range(2, 12))[2]

4

In [15]:
list(range(2, 12))[-1]

11

In [16]:
list(range(10)) # by default python starts with 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
liste=list(range(5,15))
liste

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [21]:
liste.append(11)

In [24]:
liste2 = liste.append(11)

In [25]:
liste2

In [26]:
liste=list(range(5,15))
liste1=liste.append(11)
print(liste)
print(liste1)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 11]
None

In [27]:
range(2, 30, 2)

range(2, 30, 2)

In [28]:
list(range(2, 30, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [29]:
tuple(range(1, 11, 2))

(1, 3, 5, 7, 9)

In [30]:
list(range(-5, 5, 2))

[-5, -3, -1, 1, 3]

### DICTIONARY

A member of collection types. .**One of the most important topics we have seen so far.**

A dictionary is a kind of data structure that stores items in key-value pairs. A key is a unique identifier for an item, and a value is the data associated with that key. Dictionaries often store information such as words and definitions, but they can be used for much more. Dictionaries are **mutable** in Python, which means they can be changed after they are created. They are also **unordered,** indicating the items in a dictionary are not stored in any particular order.

In [31]:
{}
dict()

{}

In [ ]:
{"key":"value", "key2":"value2"}

In [32]:
dict1 = {"key1":"value1", "key2":"value2"}
dict1

{'key1': 'value1', 'key2': 'value2'}

In [33]:
len(dict1)

2

In [34]:
type(dict1)

dict

In [35]:
dict1.items()

dict_items([('key1', 'value1'), ('key2', 'value2')])

In [36]:
dict1.keys()

dict_keys(['key1', 'key2'])

In [37]:
dict1.values()

dict_values(['value1', 'value2'])

In [38]:
dict1 = {"Name":"Elnur", "Age":35, "Occupation":"Data Scientist"}
dict1

{'Name': 'Elnur', 'Age': 35, 'Occupation': 'Data Scientist'}

In [39]:
dict1.keys()

dict_keys(['Name', 'Age', 'Occupation'])

In [40]:
dict1.values()

dict_values(['Elnur', 35, 'Data Scientist'])

In [41]:
dict1.items()

dict_items([('Name', 'Elnur'), ('Age', 35), ('Occupation', 'Data Scientist')])

In [42]:
dict2 = {"Class":"B250", "Subject":"Core Python", "Topic":"Dictionaries"}
dict2

{'Class': 'B250', 'Subject': 'Core Python', 'Topic': 'Dictionaries'}

In [43]:
dict2[0]

KeyError: 0

In [44]:
dict2["Class"]

'B250'

In [45]:
dict2["Subject"]

'Core Python'

In [46]:
dict2["Topic"]

'Dictionaries'

In [47]:
dict1

{'Name': 'Elnur', 'Age': 35, 'Occupation': 'Data Scientist'}

In [48]:
dict1["Name"]

'Elnur'

In [51]:
dict3 = {"Name":input("What is your name?"), "Age ":input("How old are you?")}
dict3

{'Name': 'ahmad', 'Age ': '24'}

In [50]:
dict3

{'Name': 'Ahmad'}

#### creating keys

In [52]:
dict_1 = {0: "zero", 1:"one", 2:"two"}
dict_1

{0: 'zero', 1: 'one', 2: 'two'}

In [53]:
dict_1[0] # 0 here is not the index, but rather the key of this dictionary

'zero'

In [54]:
dict33 = {False:0, True:1}
dict33
# key in dictionaries can have any type of data, be it integer or float or 
# string or boolean; but they cannot be a list or dictionary as they are mutables.

{False: 0, True: 1}

In [57]:
dict4 = {3.14:"pi_number", 3.4:"other number"}
dict4

{3.14: 'pi_number', 3.4: 'other number'}

In [58]:
dict5 = {[1,2,3]:"integer list", [3.14, 54]:"floats"}
dict5
# keys in dictionary cannot be a list.

TypeError: unhashable type: 'list'

In [59]:
dict6 = {"student1":["Ahmet", 28, "Dallas"], "student2":["Omar", 32, "Long Island"]}
dict6

{'student1': ['Ahmet', 28, 'Dallas'], 'student2': ['Omar', 32, 'Long Island']}

In [60]:
dict6["student1"]

['Ahmet', 28, 'Dallas']

In [61]:
dict6["student2"]

['Omar', 32, 'Long Island']

In [62]:
dict6["student2"][0]

'Omar'

In [63]:
dict6["student2"][1]

32

In [64]:
dict7 = {(1, 2, 3):"integers", (3.14, 3.4):"floatdatas"}
dict7

{(1, 2, 3): 'integers', (3.14, 3.4): 'floatdatas'}

In [65]:
dict8 = {"name":("ahmad", "elnur","sinan","neslihan"), "age":(34,43,23,32)}
dict8

{'name': ('ahmad', 'elnur', 'sinan', 'neslihan'), 'age': (34, 43, 23, 32)}

In [66]:
dict6

{'student1': ['Ahmet', 28, 'Dallas'], 'student2': ['Omar', 32, 'Long Island']}

In [68]:
dict6["student1"][1] = 26

In [69]:
dict6

{'student1': ['Ahmet', 26, 'Dallas'], 'student2': ['Omar', 32, 'Long Island']}

In [70]:
dict9 = {{"name":"fatima"}:"top achiver"}
dict9

TypeError: unhashable type: 'dict'

In [71]:
dict9 = {"Course":{"Bootcamp":"Data science"}}
dict9

{'Course': {'Bootcamp': 'Data science'}}

In [72]:
dict(uno = 1, two = 2, three = 3)

{'uno': 1, 'two': 2, 'three': 3}

In [74]:
dict_1 = {0: "zero", 1:"one", 2:"two"}
dict_1

{0: 'zero', 1: 'one', 2: 'two'}

In [76]:
dict(0 = "Zero", 1 = "One")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1116517459.py, line 1)

In [77]:
dict("name" = "ahmad")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3585614292.py, line 1)

In [78]:
dict(name = "ahmad")

{'name': 'ahmad'}

In [ ]:
dict(name : "ahmad")

In [3]:
list = [[1,'a'],[2,'b']]
dict(list)

{1: 'a', 2: 'b'}

In [14]:
friend_dic = { "friend1": ["selim",36,'canada'],
              "friend2": [ "ali",45,'Turkiye'],
              "friend3":["veli",56,'canada']}
friend_dic = "freind4"
friend_dic

'freind4'

In [6]:
len(friend_dic)

3

In [16]:
myfamily = {"child1" : {"name":"habib", "age":31},
            "child2" : {"name":"najib", "age":28},
            "child3" : {"name":"ahmad","age":24}}
myfamily['child2']['name']

'najib'

In [ ]:
b250 = {"student1":["senol","erginbas"],
        "student2":["muhammed enes","tekin"],
        "student3":["Elnur","asgarli"],
        "student4":["Neslihan","Eti"]}

In [19]:
"eh" not in "hello"

True

In [38]:
a = {'1': 2,'2': 6,'3': 9}
6 in a.values()

True