#### dict to other data types and vice versa

In [2]:
dict1 = {"name":"jane", "occupation":"ds instructor"}
dict1

{'name': 'jane', 'occupation': 'ds instructor'}

In [3]:
list(dict1)

['name', 'occupation']

In [4]:
tuple(dict1)

('name', 'occupation')

In [5]:
dict1.items()

dict_items([('name', 'jane'), ('occupation', 'ds instructor')])

In [6]:
list(dict1.items())

[('name', 'jane'), ('occupation', 'ds instructor')]

In [7]:
tuple(dict1.items())

(('name', 'jane'), ('occupation', 'ds instructor'))

In [9]:
dict(["name","senol","resident","canada"])

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [10]:
list1 = [("name","senol"),("resident","canada")]
list1

[('name', 'senol'), ('resident', 'canada')]

In [11]:
dict(list1)

{'name': 'senol', 'resident': 'canada'}

In [12]:
tupplle1 = (("name","senol"),("resident","canada"))
tupplle1

(('name', 'senol'), ('resident', 'canada'))

In [13]:
dict(tupplle1)

{'name': 'senol', 'resident': 'canada'}

In [14]:
dict2 = {"student1":["jace", 29, "Data scientist"], 
         "student2":["Marcus", 32, "Data engineer"]}

In [15]:
dict2

{'student1': ['jace', 29, 'Data scientist'],
 'student2': ['Marcus', 32, 'Data engineer']}

In [16]:
dict2.items()

dict_items([('student1', ['jace', 29, 'Data scientist']), ('student2', ['Marcus', 32, 'Data engineer'])])

In [18]:
list2 = list(dict2.items())
list2

[('student1', ['jace', 29, 'Data scientist']),
 ('student2', ['Marcus', 32, 'Data engineer'])]

In [19]:
list2[0]

('student1', ['jace', 29, 'Data scientist'])

In [20]:
list2[0][0]

'student1'

In [21]:
list2[0][0][2]

'u'

In [22]:
list2[0]

('student1', ['jace', 29, 'Data scientist'])

In [23]:
list2[0][1]

['jace', 29, 'Data scientist']

In [24]:
list2[0][1][2]

'Data scientist'

In [25]:
list2[0][1][2][3]

'a'

question:

    create a dictionary with keys as:
  - friend1
  - friend2
  - friend3

In [26]:
friend_dictio = {"friend1":["Ahmad", 24, "Turkiye"],
                 "friend2":["Mustafa", 30, "Iran"],
                 "friend3":["Ibrahim",32,"Iraq"]}
friend_dictio

{'friend1': ['Ahmad', 24, 'Turkiye'],
 'friend2': ['Mustafa', 30, 'Iran'],
 'friend3': ['Ibrahim', 32, 'Iraq']}

In [27]:
len(friend_dictio)

3

In [28]:
friend_dictio["friend1"]

['Ahmad', 24, 'Turkiye']

In [30]:
friend_dictio["friend4"]

KeyError: 'friend4'

In [31]:
friend_dictio["friend4"] = "Khalil"

In [32]:
friend_dictio

{'friend1': ['Ahmad', 24, 'Turkiye'],
 'friend2': ['Mustafa', 30, 'Iran'],
 'friend3': ['Ibrahim', 32, 'Iraq'],
 'friend4': 'Khalil'}

In [33]:
friend_dictio["friend2"] = "Juma"

In [34]:
friend_dictio

{'friend1': ['Ahmad', 24, 'Turkiye'],
 'friend2': 'Juma',
 'friend3': ['Ibrahim', 32, 'Iraq'],
 'friend4': 'Khalil'}

In [35]:
numbers = {"odd numbers":[], "even numbers": []}
numbers
# odd and even numbers between 1 and 11

{'odd numbers': [], 'even numbers': []}

In [36]:
{"odd_nums": [1,3,5,7,9], "çift_sayılar": [2,4,6,8]}

{'odd_nums': [1, 3, 5, 7, 9], 'çift_sayılar': [2, 4, 6, 8]}

In [38]:
numbers["odd numbers"].append(1)

In [39]:
numbers

{'odd numbers': [1], 'even numbers': []}

In [40]:
numbers["odd numbers"].append(3)
numbers["odd numbers"].append(5)
numbers["odd numbers"].append(7)
numbers["odd numbers"].append(9)

In [41]:
numbers

{'odd numbers': [1, 3, 5, 7, 9], 'even numbers': []}

In [42]:
numbers["even numbers"]

[]

In [43]:
numbers["even numbers"].extend([2, 4, 6, 8, 10])

In [44]:
numbers

{'odd numbers': [1, 3, 5, 7, 9], 'even numbers': [2, 4, 6, 8, 10]}

In [63]:
numbers = {"odd numbers":[], "even numbers": []}
numbers

{'odd numbers': [], 'even numbers': []}

In [47]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [48]:
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

In [49]:
numbers['odd numbers'].extend(list(range(1, 11, 2)))

In [50]:
numbers

{'odd numbers': [1, 3, 5, 7, 9], 'even numbers': []}

In [51]:
numbers['even numbers'].extend(list(range(2, 11, 2)))

In [52]:
numbers

{'odd numbers': [1, 3, 5, 7, 9], 'even numbers': [2, 4, 6, 8, 10]}

In [64]:
{"friend1":"ahmad"} + {"friend2":"nawab"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [65]:
{"friend1":"ahmad"} * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

### basic operations with Dictionary

#### update()

In [66]:
friend_dictio

{'friend1': ['Ahmad', 24, 'Turkiye'],
 'friend2': 'Juma',
 'friend3': ['Ibrahim', 32, 'Iraq'],
 'friend4': 'Khalil'}

In [67]:
friend_dictio.update({"friend1":"ahmad"})

In [68]:
friend_dictio

{'friend1': 'ahmad',
 'friend2': 'Juma',
 'friend3': ['Ibrahim', 32, 'Iraq'],
 'friend4': 'Khalil'}

In [69]:
friend_dictio["friend3"] = "ibrahim"
friend_dictio["friend4"] = "muhammad"

In [70]:
friend_dictio

{'friend1': 'ahmad',
 'friend2': 'Juma',
 'friend3': 'ibrahim',
 'friend4': 'Khalil'}

In [71]:
friend_dictio.update({"friend1":"Nawab", "friend2":"elnur"})

In [72]:
friend_dictio

{'friend1': 'Nawab',
 'friend2': 'elnur',
 'friend3': 'ibrahim',
 'friend4': 'Khalil'}

#### clear()

In [73]:
dict1

{'name': 'jane', 'occupation': 'ds instructor'}

In [74]:
dict1.clear()

In [75]:
dict1

{}

#### pop()

In [76]:
dict2

{'student1': ['jace', 29, 'Data scientist'],
 'student2': ['Marcus', 32, 'Data engineer']}

In [78]:
dict2.pop()

TypeError: pop expected at least 1 argument, got 0

In [79]:
dict2.pop("student1")

['jace', 29, 'Data scientist']

In [80]:
dict2

{'student2': ['Marcus', 32, 'Data engineer']}

In [81]:
friend_dictio

{'friend1': 'Nawab',
 'friend2': 'elnur',
 'friend3': 'ibrahim',
 'friend4': 'Khalil'}

In [82]:
friend_dictio.pop('friend1')

'Nawab'

In [83]:
friend_dictio

{'friend2': 'elnur', 'friend3': 'ibrahim', 'friend4': 'Khalil'}

In [84]:
friend_dictio.pop('friend4')

'Khalil'

In [85]:
friend_dictio

{'friend2': 'elnur', 'friend3': 'ibrahim'}

In [87]:
friend_dictio[0]

KeyError: 0

In [88]:
friend_dictio["friend2"]

'elnur'

## Nested dictionary

In [91]:
myfamily = {"child1" : {"name":"habib", "age":31},
            "child2" : {"name":"najib", "age":28},
            "child3" : {"name":"ahmad","age":24}}
myfamily

{'child1': {'name': 'habib', 'age': 31},
 'child2': {'name': 'najib', 'age': 28},
 'child3': {'name': 'ahmad', 'age': 24}}

In [99]:
myfamily.keys()

dict_keys(['child1', 'child2', 'child3'])

In [100]:
myfamily.values()

dict_values([{'name': 'habib', 'age': 31}, {'name': 'najib', 'age': 28}, {'name': 'ahmad', 'age': 24}])

In [103]:
list1

[('name', 'senol'), ('resident', 'canada')]

In [104]:
list1[0]

('name', 'senol')

In [105]:
list1[0][0]

'name'

In [106]:
list1[0][0][1]

'a'

In [107]:
myfamily

{'child1': {'name': 'habib', 'age': 31},
 'child2': {'name': 'najib', 'age': 28},
 'child3': {'name': 'ahmad', 'age': 24}}

In [108]:
myfamily['child1']

{'name': 'habib', 'age': 31}

In [109]:
myfamily['child1']['name']

'habib'

In [113]:
myfamily

{'child1': {'name': 'habib', 'age': 31},
 'child2': {'name': 'najib', 'age': 28},
 'child3': {'name': 'ahmad', 'age': 24}}

In [114]:
myfamily["child3"]

{'name': 'ahmad', 'age': 24}

In [115]:
myfamily["child3"]["age"]

24

In [116]:
myfamily

{'child1': {'name': 'habib', 'age': 31},
 'child2': {'name': 'najib', 'age': 28},
 'child3': {'name': 'ahmad', 'age': 24}}

In [117]:
b250 = {"student1":["senol","erginbas"],
        "student2":["muhammed enes","tekin"],
        "student3":["Elnur","asgarli"],
        "student4":["Neslihan","Eti"]}
b250

{'student1': ['senol', 'erginbas'],
 'student2': ['muhammed enes', 'tekin'],
 'student3': ['Elnur', 'asgarli'],
 'student4': ['Neslihan', 'Eti']}

In [120]:
b250["student2"]

['muhammed enes', 'tekin']

In [121]:
b250["student2"][1]

'tekin'

In [124]:
b250

{'student1': ['senol', 'erginbas'],
 'student2': ['muhammed enes', 'tekin'],
 'student3': ['Elnur', 'asgarli'],
 'student4': ['Neslihan', 'Eti']}

In [125]:
b250["student4"]

['Neslihan', 'Eti']

In [126]:
b250["student4"][0]

'Neslihan'

#### in, not in

In [127]:
"e" in "hello"

True

In [128]:
"a" in "hello"

False

In [129]:
"llo" in "hello"

True

In [130]:
"eo" in "hello"

False

In [131]:
"he" in "hello"

True

In [132]:
"eh" in "hello"

False

In [133]:
"eh" not in "hello"

True

In [135]:
"ell" not in "hello"

False

In [136]:
2 in [1, 2, 3]

True

In [137]:
2 not in (1, 2, 3)

False

In [138]:
myfamily

{'child1': {'name': 'habib', 'age': 31},
 'child2': {'name': 'najib', 'age': 28},
 'child3': {'name': 'ahmad', 'age': 24}}

In [139]:
"child1" in myfamily

True

In [140]:
"student1" in b250

True

In [141]:
"child1" in b250

False

In [142]:
myfamily

{'child1': {'name': 'habib', 'age': 31},
 'child2': {'name': 'najib', 'age': 28},
 'child3': {'name': 'ahmad', 'age': 24}}

In [143]:
"name" in myfamily

False

In [144]:
"name" in myfamily['child1']

True

In [145]:
"habib" in myfamily['child1'] 
# as python only compares the keys, we got False

False

In [146]:
myfamily["child1"]

{'name': 'habib', 'age': 31}

In [147]:
myfamily["child1"].values()

dict_values(['habib', 31])

In [148]:
"habib" in myfamily["child1"].values()

True

In [149]:
31 in myfamily["child1"].values()

True

### SETS()
- mutable
- iterable
- unordered
- only gives unique values

In [150]:
set()
{}

{}

In [151]:
set("hello")

{'e', 'h', 'l', 'o'}

In [152]:
set("techpro education")

{' ', 'a', 'c', 'd', 'e', 'h', 'i', 'n', 'o', 'p', 'r', 't', 'u'}

In [155]:
print(set("techpro education"))
# elements in lists are not ordered

{'r', ' ', 'd', 'e', 'i', 'n', 'o', 't', 'c', 'p', 'a', 'h', 'u'}

In [156]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [157]:
{"blue", "green", "white", "dark gray", "white", "pink", "blue"}

{'blue', 'dark gray', 'green', 'pink', 'white'}

In [158]:
{"blue", "green", "white", "dark gray", "white", "pink", "Blue"}

{'Blue', 'blue', 'dark gray', 'green', 'pink', 'white'}

In [159]:
{"enes", 32, "data_scientist", 3.14, False}

{3.14, 32, False, 'data_scientist', 'enes'}