#### The elemenets of a set can only be immutable data types.
Immutables
- int
- float
- boolean
- tuple
- string

Three mutable data types:
- list
- dictionary
- set

In [1]:
{"enes", 32, "data scientist", 3.14, True, [1, 2, 3]} # no mutable element

TypeError: unhashable type: 'list'

In [2]:
{"enes", 32, "data scientist", 3.14, True, {"numbers":"123"}}

TypeError: unhashable type: 'dict'

In [3]:
{"enes", 32, "data scientist", 3.14, True, {1, 2, 3}}

TypeError: unhashable type: 'set'

In [4]:
{"hello","World", 67, 12.45, [1, 2, 23]}

TypeError: unhashable type: 'list'

In [5]:
{"hello","World", 67, 12.45, (1, 2, 23)}

{(1, 2, 23), 12.45, 67, 'World', 'hello'}

In [6]:
dict1 = dict() # an empty dictionary created
dict2 = {} # an empty dictionary created

In [7]:
set1 = set() # an empty set created
set2 = {} # an empty dictionary created

empty set can only be created with set() function, python labels the empty {} as dictionary.

In [8]:
type(dict1)

dict

In [9]:
type(dict2)

dict

In [10]:
type(set1)

set

In [11]:
type(set2)

dict

In [12]:
list1 = ["apple", "notebooks", "a pen"]
list2 = ["banana", "lord of the rings book", "notebooks"]

list1 + list2

['apple',
 'notebooks',
 'a pen',
 'banana',
 'lord of the rings book',
 'notebooks']

In [13]:
set(list1 + list2)

{'a pen', 'apple', 'banana', 'lord of the rings book', 'notebooks'}

In [14]:
list3 = ["book", "pen", "orange juice", "book", "pen"]

In [15]:
set1=set(list3)
set1

{'book', 'orange juice', 'pen'}

In [16]:
print(set1) # sets are unordered.

{'pen', 'orange juice', 'book'}

In [17]:
set3 = {1, 12, True, False, 0, "Merhaba", ""}
set3

{'', 1, 12, False, 'Merhaba'}

In [18]:
set_4 = {True, False, 1, 4 , 0, 0.0, 2}
set_4

{False, True, 2, 4}

In [19]:
set_5 = {0, 1, True, False, 4 , 0.0, 2}
set_5

{0, 1, 2, 4}

In [20]:
set_5[0]

TypeError: 'set' object is not subscriptable

In [21]:
len(set_5) 
# we proved that sets are iterable datas.
# not indexed or sliced is not due to being iterable, but because or unordereness.

4

In [22]:
set_5

{0, 1, 2, 4}

In [23]:
list(set_5)[0]

0

In [24]:
set3

{'', 1, 12, False, 'Merhaba'}

In [25]:
list(set3)[3]

''

### Union, Intersection, Difference.

In [26]:
a = set("marhaba")
b = set("ahmad")

In [27]:
a

{'a', 'b', 'h', 'm', 'r'}

In [28]:
b

{'a', 'd', 'h', 'm'}

In [29]:
a.union(b) # the unification of both sets, will take all elements from both sets.

{'a', 'b', 'd', 'h', 'm', 'r'}

In [30]:
b.union(a)

{'a', 'b', 'd', 'h', 'm', 'r'}

In [31]:
a | b # union operation in symbol

{'a', 'b', 'd', 'h', 'm', 'r'}

In [32]:
b | a

{'a', 'b', 'd', 'h', 'm', 'r'}

In [33]:
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [34]:
a

{'a', 'b', 'h', 'm', 'r'}

In [35]:
b

{'a', 'd', 'h', 'm'}

In [36]:
a.intersection(b)

{'a', 'h', 'm'}

In [37]:
b.intersection(a)

{'a', 'h', 'm'}

In [38]:
a & b

{'a', 'h', 'm'}

In [39]:
b & a

{'a', 'h', 'm'}

In [40]:
a

{'a', 'b', 'h', 'm', 'r'}

In [41]:
b

{'a', 'd', 'h', 'm'}

In [42]:
a.difference(b)

{'b', 'r'}

In [43]:
b.difference(a)

{'d'}

In [44]:
a - b

{'b', 'r'}

In [45]:
b - a

{'d'}

In [46]:
set6 = set("findik")
set7 = set("fistik")

In [47]:
set6 | set7

{'d', 'f', 'i', 'k', 'n', 's', 't'}

In [48]:
set7 & set6

{'f', 'i', 'k'}

In [49]:
set6 - set7

{'d', 'n'}

In [50]:
set7 - set6

{'s', 't'}

In [51]:
set6

{'d', 'f', 'i', 'k', 'n'}

In [52]:
set7

{'f', 'i', 'k', 's', 't'}

In [53]:
(set7 - set6) | (set6 - set7)

{'d', 'n', 's', 't'}

In [54]:
set6 | set7

{'d', 'f', 'i', 'k', 'n', 's', 't'}

In [55]:
set7 & set6

{'f', 'i', 'k'}

In [56]:
(set6 | set7) - (set7 & set6)

{'d', 'n', 's', 't'}

In [57]:
set6 ^ set7

{'d', 'n', 's', 't'}

In [58]:
set7.symmetric_difference(set6)

{'d', 'n', 's', 't'}

In [59]:
a

{'a', 'b', 'h', 'm', 'r'}

In [60]:
b

{'a', 'd', 'h', 'm'}

In [61]:
set6

{'d', 'f', 'i', 'k', 'n'}

In [62]:
set7

{'f', 'i', 'k', 's', 't'}

In [63]:
a | set7

{'a', 'b', 'f', 'h', 'i', 'k', 'm', 'r', 's', 't'}

In [64]:
a & set7

set()

In [65]:
a ^ set7

{'a', 'b', 'f', 'h', 'i', 'k', 'm', 'r', 's', 't'}

In [66]:
b

{'a', 'd', 'h', 'm'}

In [67]:
b | set6

{'a', 'd', 'f', 'h', 'i', 'k', 'm', 'n'}

In [68]:
b & set6

{'d'}

In [69]:
set6 ^ b

{'a', 'f', 'h', 'i', 'k', 'm', 'n'}

In [70]:
set6 - b

{'f', 'i', 'k', 'n'}

In [71]:
b - set6

{'a', 'h', 'm'}

### Basic Operations on sets

#### clear()

In [72]:
a

{'a', 'b', 'h', 'm', 'r'}

In [73]:
a.clear()

In [74]:
a

set()

In [75]:
b

{'a', 'd', 'h', 'm'}

In [76]:
b.clear()

In [77]:
b

set()

#### remove()

In [78]:
set6

{'d', 'f', 'i', 'k', 'n'}

In [79]:
set6.remove("d")

In [80]:
set6

{'f', 'i', 'k', 'n'}

In [81]:
set6.remove("d")

KeyError: 'd'

#### update()

In [82]:
set6

{'f', 'i', 'k', 'n'}

In [83]:
set6.update(set7)

In [84]:
set6

{'f', 'i', 'k', 'n', 's', 't'}

In [85]:
set6.update("gre")

In [86]:
set6

{'e', 'f', 'g', 'i', 'k', 'n', 'r', 's', 't'}

In [87]:
set6.update(123) # update operation works only on iterable data.

TypeError: 'int' object is not iterable

In [88]:
set6.update(["g", "l", "o"]) 
# we are not bringin the list itself, we are bringing it's elements.

In [89]:
set6

{'e', 'f', 'g', 'i', 'k', 'l', 'n', 'o', 'r', 's', 't'}

#### pop()

In [90]:
set6

{'e', 'f', 'g', 'i', 'k', 'l', 'n', 'o', 'r', 's', 't'}

In [91]:
set6.pop() # randomly, as there is no order

'l'

In [92]:
help(set.pop)

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [93]:
set6.pop()

'g'

In [94]:
set6

{'e', 'f', 'i', 'k', 'n', 'o', 'r', 's', 't'}

#### add()

In [95]:
a

set()

In [96]:
a.add("s")

In [97]:
a

{'s'}

In [98]:
a.add("gre") 
# add operation adds the written element as a whole
# update operations adds the element, one by one after separating them.

In [99]:
a

{'gre', 's'}

In [100]:
a.add(123)

In [101]:
a

{123, 'gre', 's'}

In [102]:
a.add(["a", "b", "c"])

TypeError: unhashable type: 'list'

### issubset()

In [103]:
set8 = set("jane")
set9 = set("janineh")

In [104]:
set8

{'a', 'e', 'j', 'n'}

In [105]:
set9

{'a', 'e', 'h', 'i', 'j', 'n'}

In [106]:
set8.issubset(set9) #

True

In [107]:
set9.issubset(set8)

False

In [108]:
{"a", "b"}.issubset({"b", "c", "d","a"})

True

In [109]:
{"a", "b"}.issubset({"b", "c", "d"})

False

In [110]:
{"b", "c", "d"}.issubset({"a", "b"})

False

## LOOPS

### while
it doesn't stop until the condition is turned False

In [ ]:
# don't execute, infinite loop.
while 10 > 5:
    print("This loops doesn't stop.")

In [ ]:
while True:
    print("Hello")

In [111]:
x = 5

while 10 > x:
    print("will run so long as x is smaller than 10")
    x = x + 1

will run so long as x is smaller than 10
will run so long as x is smaller than 10
will run so long as x is smaller than 10
will run so long as x is smaller than 10
will run so long as x is smaller than 10

In [112]:
x = 1

while x < 10:
    print(x)
    x = x + 2

1
3
5
7
9

In [113]:
x

11

In [114]:
x = 1

while x < 10:
    x = x + 2
    print(x)

3
5
7
9
11

In [115]:
x = 1

while x < 15:
    x = x + 3
    print(x)

4
7
10
13
16

In [116]:
x = 1

while x < 15:
    x += 3
    print(x)

4
7
10
13
16

In [ ]:
# don't execute, infinite loop
x = 1

while x < 10:
    print(x)

x = x + 2

In [117]:
while False: # a Falsy element.
    print("Hello")

In [118]:
while 0:
    print("Hello")

In [119]:
while "":
    print("Greetings")

In [ ]:
# don't run, infinite loop.
x = 1

while True:
    print(x, "infinite loop")
    x += 1

In [120]:
y = True

while y:
    print("While loop will run, until it's changed to False")
    y = False

While loop will run, until it's changed to False

In [ ]:
# don't run, infinite cycle.
y = True

while y:
    print("While loop will run, until it's changed to False")
    
y = False

In [121]:
x = 1

while x < 6:
    print(f"test {x} ")
    x += 1
print("Loop stopped.")

test 1
test 2
test 3
test 4
test 5
Loop stopped.

In [122]:
x = 1

while x < 6:
    print(f"test {x} ")
    x += 1
    print("Loop stopped.")

test 1
Loop stopped.
test 2
Loop stopped.
test 3
Loop stopped.
test 4
Loop stopped.
test 5
Loop stopped.

In [123]:
x = 1

while x <= 5:
    print(x ** 2)
    x += 1

1
4
9
16
25

In [1]:
stringlist = ["hi", "hello", "merhaba", "he", "it"]
x =0
while x < len(stringlist):
    print(f'Iteration No. {x}')
    if len(stringlist[x]) > 2:
        stringlist.remove(stringlist[x])
        print(f'stringlist after remove iteration: {stringlist}')
    else:
        stringlist[x] = stringlist[x].upper()
        print(f'stringlist after upper iteration: {stringlist}')
        print("=========================================")
        x+=1
print(stringlist)

Iteration No. 0
stringlist after upper iteration: ['HI', 'hello', 'merhaba', 'he', 'it']
=========================================
Iteration No. 1
stringlist after remove iteration: ['HI', 'merhaba', 'he', 'it']
Iteration No. 1
stringlist after remove iteration: ['HI', 'he', 'it']
Iteration No. 1
stringlist after upper iteration: ['HI', 'HE', 'it']
=========================================
Iteration No. 2
stringlist after upper iteration: ['HI', 'HE', 'IT']
=========================================
['HI', 'HE', 'IT']