## LOOPS

### FOR

for i in iterable:
-     body

In [2]:
for i in "techpro":
    print(i)

t
e
c
h
p
r
o

In [3]:
for element in "techpro":
    print(element)

t
e
c
h
p
r
o

In [4]:
for k in "techpro":
    print(k)

t
e
c
h
p
r
o

In [5]:
for k in "techpro":
    print(k, "-", k*2)

t - tt
e - ee
c - cc
h - hh
p - pp
r - rr
o - oo

In [6]:
for k in [1, 2, 3]:
    print(k, "-", k*2)

1 - 2
2 - 4
3 - 6

In [7]:
for k in (1, 2, 3):
    print(k, "-", k*2)

1 - 2
2 - 4
3 - 6

In [8]:
for k in {1, 2, 3}:
    print(k, "-", k*2)

1 - 2
2 - 4
3 - 6

In [9]:
k

3

In [10]:
for k in [1, 2, 3, 4, 5]:
    print(k ** 2)

1
4
9
16
25

In [11]:
mylist = [1, 2, 3, 4, 5]
for k in mylist:
    print(k ** 2)

1
4
9
16
25

In [12]:
mylist

[1, 2, 3, 4, 5]

In [13]:
x = 0

while x < len(mylist):
    print(mylist[x]**2)
    x += 1

1
4
9
16
25

In [14]:
for k in (1, 2, 3, 4, 5):
    print(f"The square of {k} is {k ** 2}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [16]:
for k in (1, 2, 3, 4, 5):
    print(f"The square of {k} is {k ** 2}", end=("--- "))

The square of 1 is 1--- The square of 2 is 4--- The square of 3 is 9--- The square of 4 is 16--- The square of 5 is 25---

In [17]:
for i in 1234:
    print(i * 23)

TypeError: 'int' object is not iterable

In [20]:
for j in True:
    print(j)

TypeError: 'bool' object is not iterable

In [21]:
for i in ["ahmad", "neslihan", "jalil", "fatima","tahereh","elnur"]:
    print(i.capitalize())

Ahmad
Neslihan
Jalil
Fatima
Tahereh
Elnur

In [22]:
for i in ["ahmad", "neslihan", "jalil", "fatima","tahereh","elnur"]:
    print(i.capitalize(), end=" * ")

Ahmad * Neslihan * Jalil * Fatima * Tahereh * Elnur *

T-e-c-h-p-r-o

In [25]:
emptystr = ""

for i in "Techpro":
    emptystr += i + "-"

emptystr.strip("-")

'T-e-c-h-p-r-o'

In [26]:
"-".join("techpro")

't-e-c-h-p-r-o'

In [27]:
"-".join(["ahmad", "neslihan", "jalil", "fatima","tahereh","elnur"])

'ahmad-neslihan-jalil-fatima-tahereh-elnur'

In [29]:
dict_1 = {"name":"Walter", "Surname":"White", "age":25}
dict_1

{'name': 'Walter', 'Surname': 'White', 'age': 25}

In [30]:
for i in dict_1:
    print(i)

name
Surname
age

In [33]:
for i in dict_1.keys():
    print(i)

name
Surname
age

In [31]:
dict_1.values()

dict_values(['Walter', 'White', 25])

In [32]:
for i in dict_1.values():
    print(i)

Walter
White
25

In [34]:
for i, j in [(1, 2), (2, 3)]:
    print(i * j)

2
6

In [36]:
dict_1

{'name': 'Walter', 'Surname': 'White', 'age': 25}

In [35]:
for i, j in dict_1:
    print(i, j)

ValueError: too many values to unpack (expected 2)

In [37]:
dict_1.items()

dict_items([('name', 'Walter'), ('Surname', 'White'), ('age', 25)])

In [38]:
for i, j in dict_1.items():
    print(i,"-",j)

name - Walter
Surname - White
age - 25

In [40]:
i, j = 3

TypeError: cannot unpack non-iterable int object

In [41]:
for i, j, k in [(1, 2, 3), (4, 5, 6)]:
    print(i * j * k)

6
120

In [49]:
dict_1

{'name': 'Walter', 'Surname': 'White', 'age': 25}

In [50]:
for key, value in dict_1.items():
    print(f"key: {i}, value: {j}")

key: name, value: Walter
key: Surname, value: White
key: age, value: 25

In [51]:
for i, j in dict_1.items():
    print(f"key: {i:<10}, value: {j:<10}")

key: name      , value: Walter
key: Surname   , value: White
key: age       , value: 25

In [52]:
for i, j in dict_1.items():
    print(f"key: {i:>10}, value: {j:>10}")

key:       name, value:     Walter
key:    Surname, value:      White
key:        age, value:         25

In [53]:
for i, j in dict_1.items():
    print(f"key: {i:^10}, value: {j:^10}")

key:    name   , value:   Walter
key:  Surname  , value:   White
key:    age    , value:     25