In [4]:
[("ahmad", "data scientist",25),("enes","ML Eng", 27), ("Osman","NLP Eng", 26)]
for name, occ, age in [("ahmad", "data scientist",25),("enes","ML Eng", 27), ("Osman","NLP Eng", 26)]:
    print(f"name: {name:5}, occupation: {occ:14}, age: {age}")

name: ahmad, occupation: data scientist, age: 25
name: enes , occupation: ML Eng        , age: 27
name: Osman, occupation: NLP Eng       , age: 26

In [5]:
for name, occ, age in [("enes","ML Eng"), ("Osman","NLP Eng")]:
    print(f"name: {name:5}, occupation: {occ:14}, age: {age}")

ValueError: not enough values to unpack (expected 3, got 2)

In [6]:
for name, occ, age in [("enes","ML Eng", 26), ("Osman","NLP Eng")]:
    print(f"name: {name:5}, occupation: {occ:14}, age: {age}")

name: enes , occupation: ML Eng        , age: 26

ValueError: not enough values to unpack (expected 3, got 2)

In [7]:
for name, occ in [("enes","ML Eng", 26), ("Osman","NLP Eng")]:
    print(f"name: {name:5}, occupation: {occ:14}, age: {age}")

ValueError: too many values to unpack (expected 2)

In [23]:
for name, occ, age in [("enes","ML Eng", 26), ("Osman","NLP Eng", 24)]:
    print(f"name: {name:^10}, occupation: {occ:14}")

name:    enes   , occupation: ML Eng
name:   Osman   , occupation: NLP Eng

In [10]:
for name, occ, age in [("enes","ML Eng", 26), ("Osman","NLP Eng", 24)]:
    print(f"not using the variables")

not using the variables
not using the variables

In [11]:
for num in [1, 2, 3, 4, 5, 6, 7]:
    print("not using the variable")

not using the variable
not using the variable
not using the variable
not using the variable
not using the variable
not using the variable
not using the variable

In [24]:
"techpro".center(10)

' techpro  '

In [26]:
"techpro".rjust(10)

'   techpro'

In [27]:
"techpro".ljust(10)

'techpro   '

In [ ]:
# don't run, infinite loop
mylist = ["infinite loop"]

for element in mylist:
    print(element)
    mylist.append(element)

In [30]:
for num in range(1, 51):
    print(f"{num:2} will run for fifty times")

 1 will run for fifty times
 2 will run for fifty times
 3 will run for fifty times
 4 will run for fifty times
 5 will run for fifty times
 6 will run for fifty times
 7 will run for fifty times
 8 will run for fifty times
 9 will run for fifty times
10 will run for fifty times
11 will run for fifty times
12 will run for fifty times
13 will run for fifty times
14 will run for fifty times
15 will run for fifty times
16 will run for fifty times
17 will run for fifty times
18 will run for fifty times
19 will run for fifty times
20 will run for fifty times
21 will run for fifty times
22 will run for fifty times
23 will run for fifty times
24 will run for fifty times
25 will run for fifty times
26 will run for fifty times
27 will run for fifty times
28 will run for fifty times
29 will run for fifty times
30 will run for fifty times
31 will run for fifty times
32 will run for fifty times
33 will run for fifty times
34 will run for fifty times
35 will run for fifty times
36 will run for fifty times
37 will run for fifty times
38 will run for fifty times
39 will run for fifty times
40 will run for fifty times
41 will run for fifty times
42 will run for fifty times
43 will run for fifty times
44 will run for fifty times
45 will run for fifty times
46 will run for fifty times
47 will run for fifty times
48 will run for fifty times
49 will run for fifty times
50 will run for fifty times

ask the user for a number between 1 and 9, 9 included, and create a multiplication table for it.

In [36]:
x = int(input("please provide a number between 1 and 9"))
for i in range(11):
    print(f" {i:2} x {x} : {i * x}")

  0 x 5 : 0
  1 x 5 : 5
  2 x 5 : 10
  3 x 5 : 15
  4 x 5 : 20
  5 x 5 : 25
  6 x 5 : 30
  7 x 5 : 35
  8 x 5 : 40
  9 x 5 : 45
 10 x 5 : 50

In [37]:
x = int(input("please provide a number between 1 and 9"))
if 1 <= x <= 9:
    for i in range(11):
        print(f" {i:2} x {x} : {i * x}")
else:
    print("You have not provided a number between 1 and 9")

You have not provided a number between 1 and 9

In [40]:
while True:
    x = int(input("please provide a number between 1 and 9"))
    if 1 <= x <= 9:
        for i in range(11):
            print(f" {i:2} x {x} : {i * x}")
        break
    else:
        print("You have not provided a number between 1 and 9")

  0 x 5 : 0
  1 x 5 : 5
  2 x 5 : 10
  3 x 5 : 15
  4 x 5 : 20
  5 x 5 : 25
  6 x 5 : 30
  7 x 5 : 35
  8 x 5 : 40
  9 x 5 : 45
 10 x 5 : 50

sum of numbers starting with 1 till 50 , both included.

In [41]:
sum(range(1, 51))

1275

In [42]:
x = 0
for i in range(51):
    x += i
print(x)

1275

In [43]:
for i in range(51):
    x = 0
    x += i
print(x)

50

In [45]:
# 1 - 50
(50 * (50 + 1)) / 2

1275.0

In [46]:
sum((1, 2, 3, 4, 5))

15

In [47]:
sum([1, 2, 3, 4, 5])

15

In [48]:
sum({1, 2, 3, 4, 5})

15

In [49]:
sum({1, 2, 3, 4, 5}, 100)

115

In [50]:
sum(range(1, 51, 2))

625

In [51]:
sum(range(2, 51, 2))

650

In [ ]:
# find the sum of even and odd numbers between 1 and 50, both included using for loops.

In [53]:
odd = 0
even = 0
for i in range(1,51):
	if i % 2 == 1:
		odd += i
	else:
		even += i
print(f"Sum of Even Numbers: {even}")
print(f"Sum of Odd Numbers: {odd}")

Sum of Even Numbers: 650
Sum of Odd Numbers: 625

In [54]:
odd = 0
even = 0
for i in range(1,51):
	if i % 2:
		odd += i
	else:
		even += i
print(f"Sum of Even Numbers: {even}")
print(f"Sum of Odd Numbers: {odd}")

Sum of Even Numbers: 650
Sum of Odd Numbers: 625

#### break, continue

In [55]:
mylist = [1, 2, 3, 4, 5]
mylist

[1, 2, 3, 4, 5]

In [56]:
for i in mylist:
    if i % 3 != 0:
        print(i ** 2)
    else:
        break

1
4

In [58]:
mylist

[1, 2, 3, 4, 5]

In [57]:
for i in mylist:
    if i % 3 != 0:
        print(i ** 2)
    else:
        continue

1
4
16
25

In [ ]:
mlist = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

In [62]:
mlist = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]
even = []
odd = []
for i in mlist:
	if i % 2 == 0:
		even.append(i)
	else:
		odd.append(i)
print("even list: ",even)
print("odd list: ",odd)

even list:  [2, 36, 62, 52, 30, 56, 48]
odd list:  [1, 15, 5, 89, 45, 71, 45, 95, 61]

In [64]:
# q for stop the shopping
products = {1:"apple", 2:"banana", 3:"cherries", 4:"eggs", 5:"tomatoes"}

basket = []

while True:
    x = input("Write the code for the products you want to buy, and press q for ending shopping.")

    if x != "q":
        basket.append(products[int(x)])
        print(f"The product {basket[-1]} is added to your cart.")
    else:
        print("Thanks for shopping with us.")
        print(f"The product you purchased are {basket}")
        break

The product apple is added to your cart.
The product eggs is added to your cart.
The product banana is added to your cart.
Thanks for shopping with us.
The product you purchased are ['apple', 'eggs', 'banana']

In [66]:
# q for stop the shopping
products = {1:"apple", 2:"banana", 3:"cherries", 4:"eggs", 5:"tomatoes"}

basket = []

for i in products:
    x = input(f"Do you want to add {products[i]} to your cart. yes or no").upper()

    if x == "YES":
        basket.append(products[i])
        print(f"The product {basket[-1]} is added to your cart.")
    else:
        continue

The product apple is added to your cart.
The product cherries is added to your cart.

### zip()

In [67]:
range(1, 11)

range(1, 11)

In [68]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
tuple(range(1, 11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [70]:
a = ["apple", "banana", "lemon"]
b = [1, 2, 3]

In [71]:
zip(a, b)

In [72]:
list(zip(a, b))

[('apple', 1), ('banana', 2), ('lemon', 3)]

In [73]:
list(zip(b, a))

[(1, 'apple'), (2, 'banana'), (3, 'lemon')]

In [74]:
x = "senol"
y = "senol erginbas"
z = "ece"

list(zip(x, y, z))

[('s', 's', 'e'), ('e', 'e', 'c'), ('n', 'n', 'e')]

In [75]:
a = ["apple", "banana", "lemon", "cherries", "orange"]
b = [1, 2, 3]

In [76]:
tuple(zip(b, a))

((1, 'apple'), (2, 'banana'), (3, 'lemon'))

In [77]:
dict(zip(b, a))

{1: 'apple', 2: 'banana', 3: 'lemon'}

In [78]:
dict(zip(a, b))

{'apple': 1, 'banana': 2, 'lemon': 3}

In [79]:
set(zip(a, b))

{('apple', 1), ('banana', 2), ('lemon', 3)}

In [80]:
a = {"apple", "banana", "lemon", "cherries", "orange"}
b = (1, 2, 3)

In [81]:
dict(zip(a,b))

{'apple': 1, 'cherries': 2, 'banana': 3}

In [91]:
dict(zip(b, a))

{1: 'apple', 2: 'cherries', 3: 'banana'}

In [82]:
c = {"name":"ahmad", "age":25}
d = [1, 2]

In [83]:
list(zip(d, c))

[(1, 'name'), (2, 'age')]

In [84]:
list(zip(d, c.values()))

[(1, 'ahmad'), (2, 25)]

In [90]:
name = ["elnur", "tahereh","senol","jalil","fatima", "enes", "ekrem", "seda"]
course = ("ds", "ds", "ml", "ai", "dl")
location = ("azerbaijan", "greece", "canada", "india", "turkiye")

In [89]:
list(zip(name, course, location))

[('elnur', 'ds', 'azerbaijan'),
 ('tahereh', 'ds', 'greece'),
 ('senol', 'ml', 'canada'),
 ('jalil', 'ai', 'india'),
 ('fatima', 'dl', 'turkiye')]

In [92]:
tuple(zip(name, course, location))

(('elnur', 'ds', 'azerbaijan'),
 ('tahereh', 'ds', 'greece'),
 ('senol', 'ml', 'canada'),
 ('jalil', 'ai', 'india'),
 ('fatima', 'dl', 'turkiye'))

In [93]:
set(zip(name, course, location))

{('elnur', 'ds', 'azerbaijan'),
 ('fatima', 'dl', 'turkiye'),
 ('jalil', 'ai', 'india'),
 ('senol', 'ml', 'canada'),
 ('tahereh', 'ds', 'greece')}

In [94]:
dict(zip(name, course, location))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [95]:
dict(zip(name, course))

{'elnur': 'ds', 'tahereh': 'ds', 'senol': 'ml', 'jalil': 'ai', 'fatima': 'dl'}

In [96]:
list(zip(name, course, location))

[('elnur', 'ds', 'azerbaijan'),
 ('tahereh', 'ds', 'greece'),
 ('senol', 'ml', 'canada'),
 ('jalil', 'ai', 'india'),
 ('fatima', 'dl', 'turkiye')]

In [97]:
for i, j, k in zip(name, course, location):
    print(f"{i}, {j}, {k}")

elnur, ds, azerbaijan
tahereh, ds, greece
senol, ml, canada
jalil, ai, india
fatima, dl, turkiye

In [98]:
for i, j, k in zip(name, course, location):
    print(f"{i:8}, {j}, {k}")

elnur   , ds, azerbaijan
tahereh , ds, greece
senol   , ml, canada
jalil   , ai, india
fatima  , dl, turkiye

In [99]:
for i, j, k in zip(name, course):
    print(f"{i:8}, {j}, {k}")

ValueError: not enough values to unpack (expected 3, got 2)

In [3]:
list1 = ["data", "science", "is", "the", "best"]

enumerate(list1,len(list1))
list(enumerate(list1,len(list1)))

[(5, 'data'), (6, 'science'), (7, 'is'), (8, 'the'), (9, 'best')]