#### f-string

In [1]:
name = "techpro"

In [2]:
name

'techpro'

In [3]:
print("hi we are students of name")

hi we are students of name

In [4]:
print("hi we are students of ", name)

hi we are students of  techpro

In [5]:
print(f"hi we are students of {name}")

hi we are students of techpro

In [8]:
# alignment
print(f"{name:<10}")
print(f"{name:^10}")
print(f"{name:>10}")

techpro
 techpro
   techpro

In [9]:
# alignment not specified
print(f"{name:10}")
# by default, the alignment is left to right

techpro

In [13]:
# alignment not specified
print(f"{name:5}")
# by default, the alignment is left to right

techpro

In [14]:
# alignment not specified
print(f"{name:20}")
# by default, the alignment is left to right

techpro

In [15]:
[1, 2, 3, 4, 5][0:100]

[1, 2, 3, 4, 5]

In [12]:
# alignment not specified
print(f"hello all {name:10}")
# by default, the alignment is left to right

hello all techpro

In [10]:
# float data type
pi = 3.1415926
print(f"{pi:.2f}")

3.14

In [11]:
# float data type
pi = 3.1415926
print(f"{pi:.3f}")
# performed round operation

3.142

In [19]:
# percentage data type
quarter = 0.25
print(f"{quarter:.1%}")

25.0%

In [20]:
half = 0.5
print(f"{half:.1%}")

50.0%

In [21]:
half = 0.5
print(f"{half:.%}")

ValueError: Format specifier missing precision

In [30]:
# data type conversion in f-strings
age = 23
print(f"{age:d}") # decimal integer
print(f"{age:f}") # float
print(f"{age:b}") # binary
million = 1000000
print(f"{million:e}")
# sign as -ve and +ve
print(f"{age:+}")
print(f"-{age}")
print(f"{age:-}") 
# negative sign specifier doesn't exist, should write it as a string like above example

23
23.000000
10111
1.000000e+06
+23
-23
23

# .format formatting of string

In [31]:
age

23

In [32]:
million

1000000

In [33]:
print("I am {} years old, while the milky way galaxy is {}".format(age, million))

I am 23 years old, while the milky way galaxy is 1000000

In [2]:
def DIF(a,b) :
    if abs(a-b) < 5:
        return True
    else :
        return False
    
DIF(15,16)

True

In [10]:
def max(a,b,c) :
    if a > b and a > c :
        return a
    elif b > c:
        
        return b
    else :
     return c
    

   
max(9,-88,2)

9

In [23]:
def message(a,b) :

    if b[0] in 'aeuio' :
        article = 'an'
    else :
        article = "a"
    print(f"my name is {a} and i am {article} {b}")



message('senol','Iceman')

my name is senol and i am a Iceman

In [27]:
def planet(id) :

    p = {1:'a',2: 'b'}
    return p[id]

planet(2)

'b'

In [44]:

def sumzero(list) :
   s = 0
   for e in list :
      if e % 10 ==0 :
        s+=e
   return s  

      
      
            
   
       

      
      

list = [106,236,561,508]
sumzero(list)

0

In [45]:
def invert(d) :
    newd= {}

    for k,v in d.items() :
        newd[v]=k
    return newd


invert({1:2,3:6})

{2: 1, 6: 3}

In [59]:
def count(phrase) :

    lower= 0
    upper = 0

    for  a in phrase :
      if a.islower() :
         lower+=1
      elif a.isupper():
           upper+=1

    return lower,upper


print(count("ABCdefk....l")  )

(5, 3)