In [ ]:
a=10
print(a)

10

In [ ]:
a,b,c='10',2,36
type(a)
print(c)
type(a)

36

str

In [ ]:
x=y=z=1555555555555555555555555555555
print (x,y,z)
print(x.__sizeof__())

1555555555555555555555555555555 1555555555555555555555555555555 1555555555555555555555555555555
40

In [1]:

input("enter a number")

'5'

In [7]:
number = 45
number2 = 56
if number > number2:
    print("hi")
elif number == number2:
    print('5')
else:
    print(5)
print("fg")

5
fg

In [11]:
x = 7
if x == 8:
    print(8 * 4)
elif x == 9:
    print("this will not run")
elif x > 90:
    print("True")
else:
  5  
3 * 4

12

In [17]:
if False:
    print ("hi")
elif False:
    print(5**0.5)
else:
    print(5**.5)

2.23606797749979

In [20]:
age = int(input("write your age"))

if age < 18 :
    print("teeneager")
elif age >18 and age < 40 :
    print( "adult")
elif age > 40  <= 55:
    print("experienced")
elif 55:
    print(' emjoy retirement')
else:
    print("enjoy")

experienced

In [24]:
L1 = ['A','B','C']
for item in enumerate(L1):
    print(item)
dict4 = dict(enumerate(L1))
dict4
type(dict4)

(0, 'A')
(1, 'B')
(2, 'C')

dict

In [1]:
birtdays = { 'sachin': '03/14/2003',
            'carl': '01/17/2001',
            'khan':'12/10/2006',
            'donald': '06/14/2010',
            'rohan':'0/6/2005'}

keys= list(birtdays.keys())
keys
values= list(birtdays.values())
values
lens= [len(x) for x in values]
print(max(lens),lens.index(max(lens)))
print(min(lens))


# name = input('write your name')

# if name in birtdays:
#     print('mr./miss {} was born on {} '.format(name,birtdays[name]))
# else:
#     print('sorry')

10 0
8

In [38]:
list11 =[1,2,2,3]


list11.extend("123")
list11

[1, 2, 2, 3, '1', '2', '3']

In [63]:

a= (2,3,["125",1,5])
a[2][2]=6
a

(2, 3, ['125', 1, 6])

In [6]:
set1 = {1,2,3,4,5}
type(set1)
dict1 = {"1": 2, "3": 6}
dict1
set1

{1, 2, 3, 4, 5}

In [19]:
list1 = (1,2,3)
list2 = []
list3 = {"book", "pen", "orange juice", "book", "pen"}
list3

{'book', 'orange juice', 'pen'}

In [29]:
x =1
while x < 10 :
    x = x + 2
    print(x)

3
5
7
9
11